@model TMS.Models.BusinessRule
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Business Rules";
}

<style>
    #rules-table i {
        cursor: pointer;
    }

        #rules-table i:hover {
            
        }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body" style="display: block;">
                <a class="btn bg-olive btn-flat" style="display: inline-block;" href='@Url.Action("New", "BusinessRule")'>
                    <i class="fa fa-plus" aria-hidden="true"></i> New Business Rules
                </a>
                @*<a class="btn bg-olive btn-flat margin-left10 disabled" style="display: inline-block;" data-role="btn-organize">
                        Organize Business Rules
                    </a>*@
                <table class="table" id="rules-table">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Rule Name</th>
                            <th style="width: 45%;">Description</th>
                            <th style="width: 10%;">Active</th>
                            <th style="width: 15%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div id="modal-remove-businessrule" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Do you really want to remove this business rule?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-role="btn-confirm-remove"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                <button type="button" class="btn btn-default" data-role="btn-cancel-remove" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {

    <script>

        var rulesTable = null;
        var $confirmModal = $('#modal-remove-businessrule');
        var $yesBtn = $('[data-role="btn-confirm-remove"]');
        var $noBtn = $('[data-role="btn-cancel-remove"]');
        var removeId = null;

        function initRulesTable() {
            rulesTable = $("#rules-table")
                .DataTable({
                    serverSide: true,
                    processing: true,
                    sort: true,
                    filter: false,
                    searching: true,
                    lengthMenu: [7],
                    order: [[1, 'des']],
                    lengthChange: false,
                    ajax: {
                        "url": "/HelpDesk/BusinessRule/LoadAll",
                        "type": "POST",
                        "data": function (d) {
                        }
                    },
                    drawCallback: function () {
                        $('.toggle').bootstrapToggle();
                    },
                    columnDefs: [
                        {
                            "targets": [0],
                            "render": function (data, type, row) {
                                return row.Name;
                            }
                        },
                        {
                            "targets": [1],
                            "sortable": false,
                            "render": function (data, type, row) {
                                return row.Description;
                            }
                        },
                        {
                            "targets": [2],
                            "sortable": false,
                            "render": function (data, type, row) {
                                if (row.IsActive) {
                                    return '<input type="checkbox" data-size="small" checked="checked" data-toggle="toggle" class="toggle" data-onstyle="success" onchange="changeStatus(\'' + row.Id + '\')">';
                                } else {
                                    return '<input type="checkbox" data-size="small" data-toggle="toggle" class="toggle" data-onstyle="success" onchange="changeStatus(\'' + row.Id + '\')">';
                                }
                            }
                        },
                        {
                            "targets": [3],
                            "sortable": false,
                            "render": function (data, type, row) {
                                return '<a class="btn-sm btn btn-flat bg-olive" href="/HelpDesk/BusinessRule/Edit/' + row.Id + '"><i class="fa fa-pencil"></i></a>' +
                                    '<a class="btn-sm btn btn-flat bg-red" style="margin-left:10px;" onclick="javascript:showConfirmModal(' + row.Id + ')"><i class="fa fa-remove"></i></a>';
                            }
                        }
                    ]
                });
        };

        function showConfirmModal(id) {
            removeId = id;
            $confirmModal.modal("show");
        }

        var changeStatus = function (id) {
            $.ajax({
                url: "/HelpDesk/BusinessRule/ChangeStatus",
                data: {
                    id: id
                },
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        rulesTable.api().ajax.reload(null, false);
                    } else {
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                }
            });
        };

        $yesBtn.click(function () {
            $yesBtn.prop("disabled", true);
            $noBtn.prop("disabled", true);
            $.ajax({
                url: "/HelpDesk/BusinessRule/Remove",
                data: {
                    id: removeId
                },
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    $confirmModal.modal("hide");
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $confirmModal.modal("hide");
                        rulesTable.ajax.reload(null, false);
                    } else {
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                    $yesBtn.prop("disabled", false);
                    $noBtn.prop("disabled", false);
                }
            });
        });

        $(document)
            .ready(function () {
                initRulesTable();
            });
    </script>
}