@model TMS.Models.BusinessRule
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Business Rules";
}
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
        padding: 0px 0px !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 24px !important;
            margin-top: 0px;
        }

    .select2-container--default .select2-selection--single, select {
        height: 24px !important;
        background: none;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: -2px;
        }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: rgba(104, 140, 150, 0.78);
        border: none;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #f7f5f5;
    }

    #criteriaeditordiv .select2-container--default .select2-selection--single {
        border: none;
    }


    label {
        font-weight: normal !important;
    }

    input[type="checkbox"] {
        margin: 4px 15px 0;
    }

    fieldset {
        border: 1px solid #D1D1D1;
        padding: 10px;
        margin: 1px 15px;
        background-color: #fff;
    }

    .rulefieldset legend {
        width: auto;
        background-color: #FFF;
        border: 0 solid #D1D1D1;
        color: #333;
        text-align: left;
        line-height: 25px;
        padding: 3px;
        text-decoration: none;
        margin-bottom: 0px;
        font-size: 14px;
    }

        .rulefieldset legend label {
            font-size: 14px;
            color: #333;
        }

    .general-form-heading {
        color: #303030;
        font-size: 17px;
        border-bottom: 1px solid #F1F0F5;
        font-weight: normal;
    }

    .general-form-sec-heading {
        font-size: 14px;
        font-weight: normal;
        color: #666;
        background-color: rgba(60, 141, 188, 0.2);
        padding-left: 5px;
        border-bottom: 1px dotted #E1E1E1;
        line-height: 30px;
    }

    .small-btn {
        padding: 2px 12px;
    }


    .jstree-default .jstree-clicked {
        background: none;
        border-radius: 0;
        box-shadow: none;
    }

    #criteriaeditordiv a {
        height: 30px !important;
        padding-top: 3px;
        padding-left: 10px;
        border: 1px solid #d2d6de;
        border-radius: 4px;
        display: inline-block;
        background: #FAFAFA;
        color: #333;
        width: 100%;
        cursor: pointer;
        width: 800px;
        margin-bottom: 3px;
    }

        #criteriaeditordiv a:hover {
            background: rgba(60, 141, 188, 0.2);
            color: #000;
            border: 1px solid #337ab7;
        }

        #criteriaeditordiv a span {
            float: left;
            display: block;
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 5px;
            line-height: 24px;
            text-align: right;
        }

    .operatorcss, .logicalcss, .fieldcss {
        padding-right: 20px;
    }

    .valuecss {
        border: 1px solid #d2d6de;
        width: 200px;
        background: #FFF;
        text-align: left !important;
        overflow: hidden;
        height: 24px;
        margin-top: -1px;
    }

        .logicalcss, .valuecss .removecss, .addcss {
            cursor: pointer;
        }

    .operatorcss, .fieldcss {
        background: url(/Content/img/criteria-drop.png) no-repeat center right;
        min-width: 100px;
        width: 200px;
    }

    .logicalcss {
        width: 30px;
    }

    .select-sublinks, .select-sublinks-single {
        position: absolute;
        width: 200px;
        font-size: 11px;
        z-index: 111;
    }

    .list-open {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 4px 5px rgba(0,0,0,0.15);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 22px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #3c8dbc 1px;
        outline: 0;
    }

    i {
        cursor: pointer;
    }

        i:hover {
            background: #eee;
        }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">New Business Rule</h4>
            </div>
            <div class="box-body" style="padding: 15px 30px;">
                <form class="form-horizontal" role="form" id="form-business-rules" method="POST" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="busnessruleId" />
                    <div class="row bottom-space">
                        <div class="col-md-6">
                            <label class="control-label">RULE NAME <font color="red">*</font></label>
                            <input id="rule-name" type="text" class="form-control" name="Name" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">DESCRIPTION</label>
                            <textarea id="rule-description" class="form-control" name="Description" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">RULE FOR NEW REQUEST </h4>
                    </div>
                    <div class="row left-space">
                        <fieldset id="rulecriteria_fs" class="rulefieldset">
                            <legend>
                                <label><input type="checkbox" checked="checked" id="enableRule">Match the below rules</label>
                            </legend>
                            <div id="criteriaeditordiv">
                                <!-- in this example the tree is populated from inline HTML -->
                                <ul id="root" class="list-unstyled">
                                    @*<li>
                                        <a>
                                            <span><i class="fa fa-arrows draggable" style="color: #aaa;"></i></span>
                                            <span id="rule_logic_1" class="logicalcss invisible">AND</span>
                                            <span id="rule_criteria_1" class="fieldcss">-- Select criteria --</span>
                                            <span id="rule_condition_1" class="operatorcss">-- Select condition --</span>
                                            <span id="rule_value_1" class="valuecss"></span>
                                            <span class="pull-right"><i id="rule_remove_1" class="fa fa-remove removecss" style="color: #aaa;"></i></span>
                                            <span class="pull-right"><i id="rule_add_1" class="fa fa-plus addcss" style="color: #aaa;"></i></span>
                                        </a>
                                    </li>*@
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">PEFORM ACTION</h4>
                    </div>
                    <div class="row left-space">
                        <div class="col-md-4">
                            <select id="rule-action" style="width: 250px;" onchange="onSelectBRActionChange()"></select>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5"><select id="rule-action-select" style="width:100%"></select></div>
                        <div class="col-md-2"><a id="add-action" class="btn btn-default small-btn" style="margin-left: 5px;">Add</a></div>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">ACTION SET</h4>
                    </div>
                    <div class="row left-space" style="padding-left: 30px;">
                        <table id="action-table" class="table table-striped">
                            <tbody>
                                <tr>
                                    <th width="50px">#</th>
                                    <th>Actions</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">NOTIFICATION</h4>
                    </div>
                    <div class="row bottom-space left-space" style="padding-left: 30px;">
                        <label>Email the following technicians: </label>
                        <select id="ddl-technician" multiple="multiple" name="technicianId" data-role="ddl-technician"></select>
                    </div>
                    <br />
                    <div class="row alignCenter">
                        <a id="submitBtn" data-url="Create" class="btn btn-flat bg-olive" style="margin-right: 5px;">Save</a>
                        <a id="cancelBtn" href="/HelpDesk/BusinessRule/" class="btn btn-flat btn-default" style="margin-right: 5px;">Cancel</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script src="~/Scripts/helpdesk-businessrules.js"></script>

    <script>

        //function initDropdownControl() {
        //    initTechnicianDropdown({
        //        control: $("[data-role=ddl-technician]"),
        //        ignore: function () {
        //            return $("[data-role=ddl-technician]").val();
        //        }
        //    });

        //    initActionDropdown({
        //        control: $("#rule-action")
        //    });

        //}

        //var tree = $('#criteriaeditordiv')
        //    .jstree({
        //        "core": {
        //            "animation": 0,
        //            "check_callback": true,
        //            "themes": {
        //                "dots": false,
        //                "icons": false
        //            }
        //        },
        //        "plugins": [
        //            "dnd", "crrm"
        //        ]
        //    });

        //function resetLogicDisplay() {
        //    var nodeIds = tree.jstree().get_node("#").children_d;
        //    var anchorTag;
        //    var nodeId;
        //    var node;
        //    for (var i = 0; i < nodeIds.length; i++) {
        //        nodeId = nodeIds[i];
        //        node = tree.jstree().get_node(nodeId);
        //        anchorTag = $("<a/>").append(node.text)[0];
        //        if (anchorTag.children[1].className.indexOf("invisible") != -1) {
        //            anchorTag.children[1].className = anchorTag.children[1].className.replace(" invisible", "");
        //        }
        //        tree.jstree().set_text(nodeId, anchorTag.innerHTML);
        //    }
        //    nodeId = tree.jstree().get_node("#").children[0];
        //    node = tree.jstree().get_node(nodeId);
        //    anchorTag = $("<a/>").append(node.text)[0];
        //    if (anchorTag.children[1].className.indexOf("invisible") == -1) {
        //        anchorTag.children[1].className += " invisible";
        //    }
        //    tree.jstree().set_text(nodeId, anchorTag.innerHTML);
        //}

        //tree
        //    .on('copy_node.jstree',
        //        function (e, data) {
        //            //data.node.data = $.extend(true, {}, data.original.data);
        //            //var id = data.node.id.split('_').pop();
        //            //var nodeText = "";
        //            //tree.jstree().set_id(data.node, 'rule_' + id);
        //            //tree.jstree().set_text(data.node.id, nodeText);
        //        })
        //    .on('cut.jstree',
        //        function (e, data) {
        //            //
        //        })
        //    .on('paste.jstree',
        //        function (e, data) {
        //        })
        //    .on('move_node.jstree',
        //        function (e, data) {
        //            resetLogicDisplay();
        //            tree.jstree().deselect_all(true);
        //            tree.jstree().select_node("#" + data.parent);
        //            tree.jstree().open_node("#" + data.parent);
        //        });

        //tree.bind("redraw.jstree",
        //    function (event, data) {
        //        //alert("redraw");
        //    });

        //tree.bind("loaded.jstree",
        //    function (event, data) {
        //        //alert("TREE IS LOADED");
        //    });

        //tree.bind('create_node.jstree',
        //    function (e, data) {
        //        var id = data.node.id.split('_').pop();
        //        var nodeText = '<span><i class=\"fa fa-arrows draggable\" style=\"color: #aaa;\"></i></span>' +
        //            '<span id=\"rule_logic_' +
        //            id +
        //            '\" class=\"logicalcss\">AND</span>' +
        //            '<span id=\"rule_criteria_' +
        //            id +
        //            '\" class=\"fieldcss\">-- Select criteria --</span>' +
        //            '<span id=\"rule_condition_' +
        //            id +
        //            '\" class=\"operatorcss\" >-- Select condition --</span>' +
        //            '<span id=\"rule_value_' +
        //            id +
        //            '\"  class="valuecss"></span>' +
        //            '<span class=\"pull-right\"><i id=\"rule_remove_' +
        //            id +
        //            '\" class=\"fa fa-remove addcss\" style="color: #aaa;\"></i></span>' +
        //            '<span class=\"pull-right\"><i id=\"rule_add_' +
        //            id +
        //            '\" class=\"fa fa-plus removecss\" style="color: #aaa;\"></i></span>';
        //        tree.jstree().set_text(data.node.id, nodeText);

        //    });


        //tree.bind("select_node.jstree",
        //    function (event, data) {
        //        var evt = window.event || event;
        //        //var button = evt.which || evt.button;
        //        //if (button != 1 && (typeof button != "undefined")) return false;

        //        var clickedId = evt.target.id;
        //        var selectedId = '#' + tree.jstree('get_selected')[0];

        //        var anchorTag = $("<a/>").append(data.node.text)[0];
        //        if (clickedId.indexOf("rule_logic") != -1) {
        //            var logic = "AND";
        //            if ($('#' + clickedId)[0].innerHTML == "AND") {
        //                logic = "OR";
        //            }
        //            anchorTag.children[1].innerHTML = logic;
        //            tree.jstree().get_node(selectedId).data.Logic = (logic == "OR") ? 2 : 1;
        //            tree.jstree().set_text(data.node.id, anchorTag.innerHTML);
        //        }

        //        if (clickedId.indexOf("rule_add") != -1) {

        //            var id = tree.jstree(true).create_node(data.node.parent, { "data": {} }, "last");

        //            //var copied = tree.jstree().copy_node(selectedId,data.node.parent');
        //        }

        //        if (clickedId.indexOf("rule_remove") != -1) {
        //            var treeData = tree.jstree(true)
        //                .get_json('#', { no_a_attr: true, no_li_attr: true, no_state: true, flat: true });
        //            if (treeData.length > 1) {
        //                var deleted = tree.jstree(true).delete_node(data.node);
        //                resetLogicDisplay();
        //            }
        //        }

        //        if (clickedId.indexOf("rule_criteria") != -1) {
        //            var inputId = clickedId + '_inp';
        //            var p = $("#" + clickedId);
        //            p.addClass('list-open');
        //            //anchorTag.children[2].className += ' list-open';
        //            $('#rulecriteria_fs')
        //                .append('<div id="tempSelectCriteria" class="tempDiv select-sublinks-single" style="top:' +
        //                    p[0].offsetTop +
        //                    'px; left:' +
        //                    p[0].offsetLeft +
        //                    'px; "><select id="' +
        //                    inputId +
        //                    '"></select></div>');
        //            initCriteriaDropdown({
        //                control: $("#" + inputId),
        //                ignore: function () {
        //                    return [];
        //                }
        //            });
        //            $('b[role="presentation"]').hide();
        //            $('#tempSelectCriteria .select2-selection__rendered').hide();
        //            $("#" + inputId).select2("open");
        //            $("#" + inputId)
        //                .on("change",
        //                    function () {
        //                        anchorTag.children[2].innerHTML = $("#" + inputId).text();
        //                        tree.jstree().get_node(selectedId).data.Criteria = $("#" + inputId).val();
        //                        anchorTag.children[3].innerHTML = "-- Select condition --";
        //                        anchorTag.children[4].innerHTML = "";
        //                        tree.jstree().set_text(data.node.id, anchorTag.innerHTML);
        //                        $('.tempDiv').remove();
        //                    });

        //            //$("#" + inputId)
        //            //    .on("blur",
        //            //        function () {
        //            //            $("#" + inputId).select2("close");
        //            //            $('.tempDiv').remove();
        //            //        });
        //        }

        //        if (clickedId.indexOf("rule_condition") != -1) {
        //            var criteria = anchorTag.children[2].innerHTML;
        //            if (criteria == "-- Select criteria --") {
        //                alert("Please select the criteria first.");
        //            } else {
        //                var inputId = clickedId + '_inp';
        //                var p = $("#" + clickedId);
        //                p.addClass('list-open');
        //                $('#rulecriteria_fs')
        //                    .append('<div id="tempSelectCondition" class="tempDiv select-sublinks-single" style="top:' +
        //                        p[0].offsetTop +
        //                        'px; left:' +
        //                        p[0].offsetLeft +
        //                        'px; "><select id="' +
        //                        inputId +
        //                        '"></select></div>');
        //                initConditionDropdown({
        //                    control: $("#" + inputId),
        //                    criteria: criteria,
        //                    ignore: function () {
        //                        return [];
        //                    }
        //                });
        //                $('b[role="presentation"]').hide();
        //                $('#tempSelectCondition .select2-selection__rendered').hide();
        //                $("#" + inputId).select2("open");

        //                $("#" + inputId)
        //                    .on("change",
        //                        function () {
        //                            anchorTag.children[3].innerHTML = $("#" + inputId).text();
        //                            tree.jstree().get_node(selectedId).data.Condition = $("#" + inputId).val();
        //                            anchorTag.children[4].innerHTML = "";
        //                            tree.jstree().set_text(data.node.id, anchorTag.innerHTML);
        //                            $('.tempDiv').remove();
        //                        });
        //                $("#" + inputId)
        //                    .on("blur",
        //                        function () {
        //                            $("#" + inputId).select2("close");
        //                            $('.tempDiv').remove();
        //                        });
        //            }
        //        }

        //        if (clickedId.indexOf("rule_value") != -1) {
        //            $('.tempDiv').remove();
        //            var criteria = anchorTag.children[2].innerHTML;
        //            var condition = anchorTag.children[3].innerHTML;
        //            if (criteria == "-- Select criteria --") {
        //                alert("Please select the criteria first.");
        //            } else if (condition == "-- Select condition --") {
        //                alert("Please select the condition.");
        //            } else {
        //                var inputId = clickedId + '_inp';
        //                var p = $("#" + clickedId);
        //                switch (criteria) {
        //                    case "Subject":
        //                    case "Description":
        //                        $('#rulecriteria_fs')
        //                            .append('<div id="tempSelectValue" class="tempDiv select-sublinks-single" style="top:' +
        //                                p[0].offsetTop +
        //                                'px; left:' +
        //                                p[0].offsetLeft +
        //                                'px; "><input style="width:200px; font-size: 14px;" id="' +
        //                                inputId +
        //                                '"></input></div>');
        //                        if (tree.jstree().get_node(selectedId).data.Value)
        //                            $("#" + inputId).val(tree.jstree().get_node(selectedId).data.Value);
        //                        $("#" + inputId).focus();
        //                        $("#" + inputId)
        //                            .focusout(function () {
        //                                anchorTag.children[4].innerHTML = $("#" + inputId)[0].value;
        //                                tree.jstree().get_node(selectedId).data.Value = $("#" + inputId)[0].value;
        //                                tree.jstree().set_text(data.node.id, anchorTag.innerHTML);
        //                                $('#tempSelectValue').remove();
        //                            });
        //                        break;
        //                    case "Requester Name":
        //                        var top = p[0].offsetTop + 24;
        //                        $('#rulecriteria_fs')
        //                            .append('<div id="tempSelectValue" class="tempDiv select-sublinks-single" style="top:' +
        //                                top +
        //                                'px; left:' +
        //                                p[0].offsetLeft +
        //                                'px; "><select multiple="multiple" id="' +
        //                                inputId +
        //                                '"></select></div>');
        //                        initRequesterDropdown({
        //                            control: $("#" + inputId),
        //                            ignore: function () {
        //                                return [];
        //                                //return $("#" + inputId).val();
        //                            }
        //                        });
        //                        if (anchorTag.children[4].innerHTML != "") {
        //                            var masks = anchorTag.children[4].innerHTML.split(", ");
        //                            var values = tree.jstree().get_node(selectedId).data.Value.split(",");
        //                            for (var i = 0; i < masks.length; i++) {
        //                                initDropdown($("#" + inputId), masks[i], values[i]);
        //                            }
        //                        }
        //                        $("#" + inputId).select2("open");
        //                        $("#" + inputId)
        //                            .on("select2:close",
        //                                function () {
        //                                    tree.jstree().set_text(data.node.id, anchorTag.innerHTML);
        //                                    $('#tempSelectValue').remove();
        //                                });

        //                        $("#" + inputId)
        //                            .change(function () {
        //                                var a = $("#" + inputId).select2('data');
        //                                var text = "";
        //                                var val = "";
        //                                if (a != null && a.length > 0) {
        //                                    text = a[0].text;
        //                                    val = a[0].id;
        //                                    if (a.length > 1)
        //                                        for (var i = 1; i < a.length; i++) {
        //                                            text += ", " + a[i].text;
        //                                            val += "," + a[i].id;
        //                                        }
        //                                }
        //                                p[0].innerHTML = text;
        //                                anchorTag.children[4].innerHTML = text;
        //                                tree.jstree().get_node(selectedId).data.Value = val;
        //                                window.dispatchEvent(new Event('resize'));
        //                                //tree.jstree().get_node(selectedId).data.ValueText = text;
        //                            });
        //                        break;
        //                    case "Department":
        //                    case "Priority":
        //                    case "Impact":
        //                    case "Urgency":
        //                    case "Category":
        //                    case "Mode":
        //                        var top = p[0].offsetTop + 24;
        //                        $('#rulecriteria_fs')
        //                            .append('<div id="tempSelectValue" class="tempDiv select-sublinks-single" style="top:' +
        //                                top +
        //                                'px; left:' +
        //                                p[0].offsetLeft +
        //                                'px; "><select multiple="multiple" id="' +
        //                                inputId +
        //                                '"></select></div>');
        //                        initConditionValueDropdown({
        //                            control: $("#" + inputId),
        //                            ignore: function () {
        //                                return $("#" + inputId).val();
        //                            },
        //                            criteria: criteria
        //                        });
        //                        if (anchorTag.children[4].innerHTML != "") {
        //                            var masks = anchorTag.children[4].innerHTML.split(", ");
        //                            var values = tree.jstree().get_node(selectedId).data.Value.split(",");
        //                            for (var i = 0; i < masks.length; i++) {
        //                                initDropdown($("#" + inputId), masks[i], values[i]);
        //                            }
        //                        }
        //                        $("#" + inputId).select2("open");
        //                        $("#" + inputId)
        //                            .on("select2:close",
        //                                function () {
        //                                    tree.jstree().set_text(data.node.id, anchorTag.innerHTML);
        //                                    $('#tempSelectValue').remove();
        //                                });

        //                        $("#" + inputId)
        //                            .change(function () {
        //                                var a = $("#" + inputId).select2('data');
        //                                var text = "";
        //                                var val = "";
        //                                if (a != null && a.length > 0) {
        //                                    text = a[0].text;
        //                                    val = a[0].id;
        //                                    if (a.length > 1)
        //                                        for (var i = 1; i < a.length; i++) {
        //                                            text += ", " + a[i].text;
        //                                            val += "," + a[i].id;
        //                                        }
        //                                }
        //                                p[0].innerHTML = text;
        //                                anchorTag.children[4].innerHTML = text;
        //                                tree.jstree().get_node(selectedId).data.Value = val;
        //                            });
        //                        break;
        //                }
        //            }

        //        }

        //    });

        //$(document)
        //    .on('click',
        //        function (e) {
        //            if (e.target.id != 'ok') {
        //                // you clicked something else
        //            }
        //        });

        //$(document)
        //    .bind("dnd_start.vakata",
        //        function (e, data) {
        //            $('#tempSelectValue').select2('destroy');
        //            $('#tempSelectValue').remove();
        //            //$('.select2-container').remove();
        //        })
        //    .bind("dnd_move.vakata",
        //        function (e, data) {

        //        })
        //    .bind("dnd_stop.vakata",
        //        function (e, data) {

        //        });

        //function onSelectBRActionChange() {
        //    switch ($("#rule-action").val()) {
        //        case "1":
        //            initTechnicianDropdown({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                }
        //            });
        //            break;
        //        case "2":
        //            initDepartmentDropdown({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                }
        //            });
        //            break;
        //        case "3":
        //            initCategoryDropdownByLevel({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                },
        //                level: 1
        //            });
        //            break;
        //        case "4":
        //            initCategoryDropdownByLevel({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                },
        //                level: 2
        //            });
        //            break;
        //        case "5":
        //            initCategoryDropdownByLevel({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                },
        //                level: 3
        //            });
        //            break;
        //        case "6":
        //            initPriorityDropdown({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                }
        //            });
        //            break;
        //        case "7":
        //            initStatusDropdown({
        //                control: $("#rule-action-select"),
        //                ignore: function () {
        //                    return [];
        //                }
        //            });
        //            break;
        //        default:
        //    }
        //}

        //$("#rule-action-select")
        //    .click(function () {

        //    });

        //$("#add-action")
        //    .click(function () {
        //        if ($("#rule-action").val() == null) alert("Please choose action.");
        //        else if ($("#rule-action-select").val() == null) alert("Please set value for action.");
        //        else {
        //            var actionSet = $("#rule-action").select2('data')[0].text +
        //                ' \"' +
        //                $("#rule-action-select").select2('data')[0].text +
        //                '\"';
        //            var actionKey = $("#rule-action").val();
        //            var actionValue = $("#rule-action-select").val();
        //            $('#action-table tr:last')
        //                .after('<tr class="actionSet" data-id=' +
        //                    actionKey +
        //                    ' data-value=' +
        //                    actionValue +
        //                    '><td><i class="fa fa-trash remove-action"></i></td><td>' +
        //                    actionSet +
        //                    '</td></tr>');
        //            //$("#rule-action").val('').trigger("change");
        //            $("#rule-action-select").val('').trigger("change");
        //            //$("#rule-action-select").children().remove();
        //            //$("#rule-action-select").select2('destroy');
        //        }
        //    });

        //$('#action-table')
        //    .on('click',
        //        'tr i.remove-action',
        //        function (e) {
        //            $(this).closest('tr').remove();
        //        });

        //$("#submitBtn")
        //    .click(function () {
        //        $("#submitBtn").prop("disabled", true);
        //        $("#cancelBtn").prop("disabled", true);

        //        var ruleName = $("#rule-name").val().trim();
        //        if (!ruleName) {
        //            noty({
        //                text: "Please enter rule name!",
        //                type: "error",
        //                layout: "topRight",
        //                timeout: 2000
        //            });
        //            return;
        //        } else {
        //            if (ruleName.length > 100) {
        //                noty({
        //                    text: "Rule name must be under 100 characters!",
        //                    type: "error",
        //                    layout: "topRight",
        //                    timeout: 2000
        //                });
        //                return;
        //            }
        //        }
        //        var ruleDescription = $("#rule-description").val();
        //        var ruleTechnicians = $("#ddl-technician").val();
        //        var treeData = null;
        //        // rule
        //        if ($("#enableRule").prop('checked') == true) {
        //            treeData = tree.jstree(true)
        //                .get_json('#', { no_a_attr: true, no_li_attr: true, no_state: true, flat: true });
        //            for (var i = 0; i < treeData.length; i++) {
        //                delete treeData[i].text;
        //                delete treeData[i].icon;
        //            };
        //        }

        //        //action
        //        var actionSet = [];
        //        $(".actionSet")
        //            .each(function (index, element) {
        //                var actionId = element.getAttribute("data-id");
        //                var actionValue = element.getAttribute("data-value");
        //                actionSet.push({ id: actionId, value: actionValue });
        //            });

        //        $.ajax({
        //            "url": "/BusinessRule/" + $(this).attr("data-url"),
        //            "method": "POST",
        //            "data": {
        //                Id: $("#busnessruleId").val(),
        //                Name: ruleName,
        //                Description: ruleDescription,
        //                Enable: $("#enableRule").prop('checked'),
        //                Conditions: JSON.stringify(treeData),
        //                Actions: JSON.stringify(actionSet),
        //                Technicians: JSON.stringify(ruleTechnicians)
        //            },
        //            "success": function (data) {
        //                if (data.success) {
        //                    noty({
        //                        text: "New business rule was created successfully!",
        //                        layout: "topCenter",
        //                        type: "success",
        //                        timeout: 300,
        //                        callback: {
        //                            onClose: function () {
        //                                window.location.href = "/HelpDesk/BusinessRule/";
        //                            }
        //                        }
        //                    });
        //                } else {
        //                    $("#submitBtn").prop("disabled", false);
        //                    $("#cancelBtn").prop("disabled", false);
        //                    noty({
        //                        text: "Some error occur! Please try again later!",
        //                        type: "error",
        //                        layout: "topRight",
        //                        timeout: 2000
        //                    });
        //                }
        //            },
        //            "error": function () {
        //                $("#submitBtn").prop("disabled", false);
        //                $("#cancelBtn").prop("disabled", false);
        //                noty({
        //                    text: "Cannot connect to server!",
        //                    type: "error",
        //                    layout: "topRight",
        //                    timeout: 2000
        //                });
        //            }
        //        });
        //    });

        $(document).ready(function () {
            initDropdownControl();
            tree.jstree().create_node('#', { "data": {} }, "last");
            //Hide logic at first row
            if (tree.jstree().get_node("#").children.length > 0) {
                var nodeId = tree.jstree().get_node("#").children[0];
                var node = tree.jstree().get_node(nodeId);
                var anchorTag = $("<a/>").append(node.text)[0];
                if (anchorTag.children[1].className.indexOf("invisible") == -1) {
                    anchorTag.children[1].className += " invisible";
                }
                tree.jstree().set_text(nodeId, anchorTag.innerHTML);
            }
            });
    </script>
}