@{
    ViewBag.Title = "Urgency";
    Layout = "~/Views/Shared/TMSLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header padding-bottom-20">
                <button type="button" class="btn" onclick="showCreateModal()">
                    Create New Urgency
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-hover" id="urgency-table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="example-modal">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Urgency</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name&nbsp;<span style="color: red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Impact" id="name-txt">
                                <p id="name-validation-message" class="text-danger" style="display: none"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" placeholder="Description" id="description-txt"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="create-btn" onclick="createUrgency()">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->
@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $("#urgency-table")
            .DataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                ajax: {
                    url: "/Admin/ManageSC/GetUrgency"
                },
                "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return row[1];
                    },
                    "targets": 0,
                    "type": "date"
                },
                {
                    "render": function (data, type, row) {
                        return row[2];
                    },
                    "targets": 1
                },
                {
                    "render": function (data, type, row) {
                        return '<button type="button" class="fa fa-pencil" data-toggle="modal" onclick="getUrgencyDetail(\'' + row[0] + '\')"></button>';
                    },
                    "targets": 2
                }
                ]
            });
        var reloadDataTable = function () {
            var oTable = $("#urgency-table").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        };

        var clearModal = function () {
            $("#myModal").find("input").val("");
            $("#myModal").find("textarea").val("");
            $(".text-danger").hide();
        }

        var showCreateModal = function () {
            clearModal();
            $("#myModal").modal('show');
            $('#create-btn').attr('onclick', 'createUrgency()');
        };

        var createUrgency = function () {
            var name = $("#name-txt").val();
            if (name.trim() === "") {
                $("#name-validation-message").html("Name is required!");
                $("#name-validation-message").show();
            } else if (name.trim().length < 4) {
                $("#name-validation-message").html("Name must be longer than 4 characters!");
                $("#name-validation-message").show();
            } else {
                $.ajax({
                    url: "/Admin/ManageSC/CreateUrgency",
                    dataType: "json",
                    type: "POST",
                    data: {
                        name: $("#name-txt").val(),
                        description: $("#description-txt").val()
                    },
                    success: function (data) {
                        if (data.success) {
                            $.notify(data.message, "success");
                            $("#myModal").modal("hide");
                            reloadDataTable();
                        } else {
                            if (data.error) {
                                $.notify(data.message, "error");
                            } else {
                                $("#name-validation-message").html(data.message);
                                $("#name-validation-message").show();
                            }
                        }
                    },
                    error: function () {
                        $.notify("Cannot connect to server!", "error");
                    }
                });
            }
        };

        var getUrgencyDetail = function (id) {
            clearModal();
            $.ajax({
                url: "/Admin/ManageSC/GetUrgencyDetail",
                dataType: "json",
                type: "GET",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        $("#myModal").modal("show");
                        $("#name-txt").val(data.name);
                        $("#description-txt").val(data.description);
                        $("#create-btn").attr("onclick", "editUrgency('" + id + "')");
                    } else {
                        if (data.error) {
                            $.notify(data.message, "error");
                        }
                    }
                },
                error: function () {
                    $.notify("Cannot connect to server!", "error");
                }
            });
        };

        var editUrgency = function (id) {
            //jquery
            var name = $("#name-txt").val();
            if (name.trim() === "") {
                $("#name-validation-message").html("Name is required");
                $("#name-validation-message").show();
            } else if (name.trim().length < 4) {
                $("#name-validation-message").html("Name must be longer than 4 characters! ");
                $("#name-validation-message").show();
            } else {
                //ajax syntax
                $.ajax(
                {
                    url: "/Admin/ManageSC/EditUrgency",
                    dataType: "json",
                    type: "POST",
                    data: {
                        id: id,
                        name: $("#name-txt").val(),
                        description: $("#description-txt").val()
                    },
                    success: function (data) {
                        if (data.success) {
                            $.notify(data.message, "success");
                            $("#myModal").modal("hide");
                            reloadDataTable();
                        } else {
                            if (data.error) {
                                $.notify(data.message, "error");
                            } else if (!data.error) {
                                $("#name-validation-message").html(data.message);
                                $("#name-validation-message").show();
                            }
                        }
                    },
                    error: function () {
                        $.notify("Cannot connect to server!", "error");
                    }
                });
            }

        };
    </script>
}

