.graph {
        width: 300px;
    }

    #doughnut-legend {
        margin-top: 20px;
    }

        #doughnut-legend li {
            display: inline-block;
            font-size: 18px;
            margin-right: 20px;
        }

            #doughnut-legend li span {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
            }