@{
    Layout = "~/Views/Shared/_TopLayout.cshtml";
}
@{
    ViewBag.Title = "TMS - Ticket List";
}
<style>
    .table thead {
        color: #00A65A;
    }

    h3 {
        margin-top: 0px;
    }

    input {
        max-width: 500px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid" style="padding: 20px">
            <div class="box-header">
                <h3 class="text-green" style="text-transform: uppercase"><i class="fa fa-tags"></i>&nbsp;&nbsp;Ticket list</h3>
                <p>You can see your all tickets here.</p>
            </div>
            <div class="box-body">
                <a class="btn btn-success btn-flat" href="@(Url.Action("Create", "Ticket"))"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;New ticket</a>
                <div class="pull-right">
                    <div class="input-group" style="width: 300px">
                        <input type="text" id="search-txt" class="form-control" placeholder="Search by subject...">
                        <span class="input-group-btn">
                            <button name="search" id="search-btn" class="btn btn-default btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    @*<label>Search:</label>
                        <input type="text" id="search-txt" />*@
                </div>
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th>Create Date</th>
                            <th style="max-width: 400px">Subject</th>
                            <th>Status</th>
                            <th style="max-width: 400px">Solution</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <a href="@(Url.Action("Index", "Home"))">
            <i class="fa fa-reply fa-1x" aria-hidden="true"></i>
            Back to Homepage
        </a>
    </div>
</div>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        var tempDescription, tempSolution, fullDescription, fullSolution;
        setActiveTicketMenu();
        $(window).on('resize', function () {
            $('#ticket-table .long-table-column').trunk8({
                lines: 4,
                tooltip: false
            });
        });
        var initDataTable = function () {
            $("#ticket-table").DataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                "order": [[0, 'dsc']],
                lengthMenu: [5],
                lengthChange: false,
                filter: false,
                drawCallback: function () {
                    $('#ticket-table .long-table-column').trunk8({
                        lines: 4,
                        tooltip: false
                    });
                },
                ajax: {
                    url: "/Ticket/GetRequesterTickets",
                    data: function (d) {
                        d.select_status = $("#filter-by-status").val(),
                        d.search_text = $("#search-txt").val()
                    }
                },
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return row[0];
                        },
                        "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            //return '<a href="javascript:void{0}" class="view-detail" data-id=' + row[4] + '>' + row[1] + '</a>';
                            return '<a href="/Ticket/Detail/' + row[4] + '" class="view-detail">' + row[1] + '</a>';
                        },
                        "targets": 1
                    },
                    {
                        "render": function (data, type, row) {

                            if (row[2] == 1) {
                                return "<label class='label label-info'>New</label>";
                            } else if (row[2] == 2) {
                                return "<label class='label label-warning'>Assigned</label>";
                            } else if (row[2] == 3) {
                                return "<label class='label label-success'>Solved</label>";
                            } else if (row[2] == 4) {
                                return "<label class='label label-danger'>Unapproved</label>";
                            } else if (row[2] == 5) {
                                return "<label class='label label-default'>Cancelled</label>";
                            } else if (row[2] == 6) {
                                return "<label class='label label-default'>Closed</label>";
                            }
                        },
                        "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            return "<span class='long-table-column'>" + row[3] + "</span>";
                        },
                        "sortable": false,
                        "targets": 3
                    }]
            });
        }

        var reloadDataTable = function () {
            var oTable = $("#ticket-table").dataTable();
            oTable.api().ajax.reload();
        };

        $(document).ready(function () {
            initDataTable();    
        });

        $("#search-txt").keyup(function () {
            reloadDataTable();
        });
    </script>
}













