@{
    Layout = "~/Views/Shared/TMSRequesterLayout.cshtml";
}
<style>
    .title {
        margin-top: -20px;
        margin-bottom: 12px;
    }

    .btitle {
        display: table;
    }

    .table thead, h4 {
        color: #1074bd;
        font-weight: bold;
    }

    h5 {
        color: #171fb0;
        font-weight: bold;
    }

    .white-title {
        text-transform: uppercase;
        font-weight: bold;
        display: table-cell;
        padding: 8px;
        vertical-align: middle;
        color: #ffffff;
    }

    .table thead, h4 {
        color: #1074bd;
    }

    .rightItems {
        text-align: right;
    }

    .modal-title {
        color: #ffffff;
        text-align: center;
    }

    .modal-header {
        background-color: #1074bd;
    }

    .modal-body {
        background-color: #e6e6e6;
    }

    .shortInfoContainer {
        margin: 5px auto;
        display: flex;
    }

    .shortInfo {
        margin: auto;
        height: 85px;
        text-align: center;
        display: table;
        background-color: #ffffff;
    }

    hr {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }

    .detail {
        margin: 10px 20px 10px 0px;
        padding: 8px 20px 8px 20px;
        background-color: #ffffff;
    }

    input {
        max-width: 500px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid bg-blue title">
            <div class="box-header btitle">
                <h3 class="white-title">TICKET LIST</h3>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-body">
                <a class="btn btn-primary btn-flat" href="@(Url.Action("Create", "Ticket"))">Create new ticket</a>
                <div class="pull-right">
                    <div class="input-group">
                        <input type="text" id="search-txt" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    @*<label>Search:</label>
                    <input type="text" id="search-txt" />*@
                </div>
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th>Create Date</th>
                            <th style="max-width: 400px">Subject</th>
                            <th>Status</th>
                            <th style="max-width: 400px">Solution</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <a href="@(Url.Action("Index", "Home"))">
            <i class="fa fa-reply fa-1x" aria-hidden="true"></i>
            Back to Homepage
        </a>
    </div>
</div>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        setActiveTicketMenu();
        var initDataTable = function () {
            $("#ticket-table").DataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                "order": [[0, 'dsc']],
                lengthChange: false,
                filter: false,
                ajax: {
                    url: "/Ticket/GetRequesterTickets",
                    data: function (d) {
                        d.select_status = $("#filter-by-status").val(),
                        d.search_text = $("#search-txt").val()
                    }
                },
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return row[0];
                        },
                        "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a href="#" class="view-detail" data-id=' + row[4] + '>' + row[1] + '</a>';
                        },
                        "targets": 1
                    },
                    {
                        "render": function (data, type, row) {

                            if (row[2] == 1) {
                                return "<label class='label label-info'>New</label>";
                            } else if (row[2] == 2) {
                                return "<label class='label label-warning'>Assigned</label>";
                            } else if (row[2] == 3) {
                                return "<label class='label label-success'>Solved</label>";
                            } else if (row[2] == 4) {
                                return "<label class='label label-danger'>Unapproved</label>";
                            } else if (row[2] == 5) {
                                return "<label class='label label-default'>Cancelled</label>";
                            } else if (row[2] == 6) {
                                return "<label class='label label-default'>Closed</label>";
                            }
                        },
                        "sortable": false,
                        "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            return row[3] == null ? "None" : "<span class='pre-wrap'>" + (row[3]) + "</span>";
                        },
                        "sortable": false,
                        "targets": 3
                    }]
            });
        }

        var reloadDataTable = function () {
            var oTable = $("#ticket-table").dataTable();
            oTable.api().ajax.reload();
        };

        $(document).ready(function () {
            initDataTable();
        });

        $("#search-txt").keyup(function () {
            reloadDataTable();
        });

    </script>
}













