@{
    Layout = "~/Views/Shared/_TopLayout.cshtml";
}
@{
    ViewBag.Title = "TMS - Ticket List";
}
<style>
    .labels {
        font-size: 13px;
    }

    h3 {
        margin-top: 0px;
    }

    input {
        max-width: 500px;
    }

    .bg-light-green {
        background-color: #D2EDDE;
    }

    .vertical-center {
        clear: left;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .status {
        color: #ffffff;
        text-align: center;
    }

    .column-body {
        float: left;
        padding: 7px 15px;
        line-height: 10px;
        border-right: solid 1px #ffffff;
    }

        .column-body:first-of-type {
            padding: 15px 0px;
            border-right: none;
        }

        .column-body:last-of-type {
            border-right: none;
        }

    .row-content {
        padding-bottom: 15px;
    }

    .no-pad-left {
        padding-left: 0px;
    }

    #ticket-list {
        padding-top: 20px;
        padding-left: 0px;
        min-height: 100px;
    }

        #ticket-list li {
            list-style: none;
            padding: 5px 0px;
        }

    .ticket-subject a:hover {
        background-color: transparent !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid" style="padding: 20px">
            <div class="box-header">
                <h3 class="text-green" style="text-transform: uppercase"><i class="fa fa-tags"></i>&nbsp;&nbsp;Ticket list</h3>
                <p>You can see your all tickets here.</p>
            </div>
            <div class="box-body">
                <div class="col-sm-2 no-padding">
                    <a class="btn btn-success btn-flat" href="@(Url.Action("Create", "Ticket"))">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;New ticket
                    </a>
                </div>
                <div class="col-sm-offset-2 col-sm-3">
                    <select class="form-control" id="sort-ticket">
                        <option selected value="Default">-- Sort by --</option>
                        <option value="DateDsc">Date - Recent to Oldest</option>
                        <option value="DateAsc">Date - Oldest to Recent</option>
                        <option value="StatusAsc">Status - Open to Closed</option>
                        <option value="StatusDsc">Status - Closed to Open</option>
                        <option value="SubjectAsc">Subject - A to Z</option>
                        <option value="SubjectDsc">Subject - Z to A</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" id="filter-status">
                        <option selected value="All">-- All status --</option>
                        <option value="Open">Open</option>
                        <option value="Assigned">Assigned</option>
                        <option value="Solved">Solved</option>
                        <option value="Unapproved">Unapproved</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
                <div class="col-sm-3 input-group">
                    <input type="text" id="search-txt" class="form-control" placeholder="Search by subject...">
                    <span class="input-group-btn">
                        <button name="search" id="search-btn" class="btn btn-default btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <ul id="ticket-list"></ul>
                <div class="pull-left" id="list-option"></div>
                <div class="holder pull-right"></div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        function loadTicket() {
            var filterStatus = $('#filter-status').find(":selected").val();
            var sortItem = $('#sort-ticket').find(":selected").val();
            var keySearch = $('#search-txt').val();
            $.ajax({
                url: "/Ticket/GetRequesterTickets",
                method: "GET",
                data: {
                    filterItem: filterStatus,
                    sortItem: sortItem,
                    keySearch: keySearch
                },
                success: function (data) {
                    var dataItems = data.data;
                    var innerCode = "";
                    $('#ticket-list').empty();
                    if (dataItems.length > 0) {
                        for (i = 0; i < dataItems.length; i++) {
                            innerCode = '<li><div class="box box-solid"><div class="box-body bg-gray-light no-padding"><div class="col-lg-1 col-sm-2 no-padding text-center">'
                                        + '<h5 style="font-size: 16px" class="text-muted text-bold">#' + dataItems[i].Code + '</h4>';
                            innerCode += '</div><div class="col-lg-9 col-sm-7 ticket-subject" style="padding: 7px 15px">'
                                + '<a class="text-bold" style="font-size: 16px" href="/Ticket/Detail/' + dataItems[i].ID + '">' + dataItems[i].Subject + '</a></div>'
                                + '<div class="col-lg-2 col-sm-3 text-center pull-right" style="padding: 7px"><span class="text-muted">'
                                + 'Date created</span><br /><span class="text-green">' + dataItems[i].CreatedTime + '</span></div></div>'
                                + '<div class="box-footer no-padding bg-light-green">';
                            switch (dataItems[i].Status) {
                                case 1:
                                    innerCode += '<div class="col-lg-1 col-sm-2 column-body status bg-aqua">Open</div>'; break;
                                case 2:
                                    innerCode += '<div class="col-lg-1 col-sm-2 column-body status bg-orange">Assigned</div>'; break;
                                case 3:
                                    innerCode += '<div class="col-lg-1 col-sm-2 column-body status bg-green">Solved</div>'; break;
                                case 4:
                                    innerCode += '<div class="col-lg-1 col-sm-2 column-body status bg-red-active">Unapproved</div>'; break;
                                case 5:
                                    innerCode += '<div class="col-lg-1 col-sm-2 column-body status bg-violet">Cancelled</div>'; break;
                                case 6:
                                    innerCode += '<div class="col-lg-1 col-sm-2 column-body status bg-gray-active">Closed</div>'; break;
                            }
                            innerCode += '<div class="col-lg-2 col-sm-2 column-body">'
                                + '<p class="labels">Mode: &nbsp;&nbsp;&nbsp;</p>' + dataItems[i].Mode + '</div>'
                                + '<div class="col-lg-4 col-sm-3 column-body"><p class="labels">Created by: &nbsp;&nbsp;&nbsp;</p>'
                                + dataItems[i].CreatedBy + '</div><div class="col-lg-5 col-sm-5 column-body">'
                                + '<p class="labels">Category: &nbsp;&nbsp;&nbsp;</p>'
                                + dataItems[i].Category + '</div></div></div></li>';
                            $('#ticket-list').append(innerCode);
                            $(".column-body:first-of-type").css("height", $(".column-body:last-of-type").outerHeight());
                        }
                        if (dataItems.length > 5) {
                            $('#list-option').empty().append('Total ' + dataItems.length + ' items.');
                            $('div.holder').removeClass("hidden");
                            $('div.holder').jPages({
                                containerID: "ticket-list",
                                perPage: 5,
                                startPage: 1,
                                startRange: 2,
                                minHeight: false,
                                midRange: 5,
                                endRange: 2,
                                first: "First",
                                last: "Last",
                                previous: "Previous",
                                next: "Next",
                            });
                        } else {
                            $('div.holder').addClass("hidden");
                        }
                    }
                    else {
                        $('#ticket-list').empty().append('<div class="col-sm-12 text-center"><p>There is no ticket at this moment.</p></div>');
                    }
                },
                error: function () {
                    $('#ticket-list').append('<div class="col-sm-12 text-center">Cannot load ticket list.</div>');
                }
            });
        }

        $(document).ready(function () {
            loadTicket();
        });

        $("#search-btn").on("click", function () {
            loadTicket();
        });

        $("select").on("change", function () {
            loadTicket();
        });


        $(document).keypress(function (e) {
            if (e.which == 13) {
                loadTicket();
            }
        });

    </script>
}
