.bg-lighter-green {
    background-color: #46ce8f !important;
}

.bg-lighter-purple {
    background-color: #827ed0 !important;
}

.bg-lighter-blue {
    background-color: #59a4cf !important;
}

#avatar-img {
    height: 300px;
    width: 300px;
}

.profile-label {
    padding-top: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.light-skin .profile-label {
    color: #000000 !important;
}

.profile-info {
    color: #ffffff;
    font-size: 15px;
}



#profile .row {
    padding: 15px 0px 1px 0px;
    border-bottom: solid 1px #ffffff;
}

.btn {
    margin-left: 8px;
}

.btn-transparent {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    border: solid 2px #ffffff !important;
}

    .btn-transparent:hover {
        color: #e6e6e6;
        font-weight: bold;
        border: solid 2px #e6e6e6;
    }

.light-skin .btn-transparent {
    background-color: transparent;
    color: #3e3e3e;
    font-weight: bold;
    border: solid 1px #3e3e3e !important;
}

    .light-skin .btn-transparent:hover {
        color: #222121;
        font-weight: bold;
        border: solid 1px #222121;
    }

.div-container {
    color: #ffffff !important;
    background-color: transparent !important;
    border: solid 2px #ffffff !important;
}

.light-skin .div-container {
    color: #3e3e3e !important;
    background-color: transparent !important;
    border: solid 1px #3e3e3e !important;
}

.text-white {
    color: #ffffff !important;
}
