@media screen {
    .select2 {
        width: 100% !important;
    }
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.technician-dropdown .technician-name {
    font-weight: bold;
}

.technician-dropdown .technician-email {
    margin-left: 10px;
}

.category-dropdown .category-1 {
    margin-left: 10px;
    height: 10px;
    font-weight: bold;
}

.category-dropdown .category-2 {
    margin-left: 25px;
    height: 5px;
    font-weight: normal;
}

.category-dropdown .category-3 {
    margin-left: 45px;
    height: 5px;
    font-weight: normal;
}

.category-dropdown .category-4 {
    margin-left: 55px;
    height: 5px;
    font-weight: normal;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px !important;
}

.select2-container--default .select2-selection--single {
    height: 34px;
}
