
.big-title {
    margin-bottom: 0px;
    display: table;
}

    .big-title h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        font-weight: bold;
        display: table-cell;
        padding: 5px;
        vertical-align: middle;
        color: #ffffff;
    }

.modal {
    text-align: center;
}


@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-title {
    color: #ffffff;
    /*text-align: center;*/
}

.modal-header {
    background-color: #3c8dbc;
}

.modal-body {
    background-color: #ffffff;
}

.modal-footer {
    text-align: center;
}

.pre-wrap {
    white-space: pre-wrap;
}

.container-box .form-group {
    margin-bottom: 5px;
}

.form-label .form-group label:nth-child(2) {
    text-align: left;
    font-weight: normal;
}

.form-label .form-group label:nth-child(1) {
    text-align: right;
}

.form-label .form-group:after {
    content: " ";
    display: table;
    clear: both;
}

.userslookup {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: -15px;
}

.alignCenter {
    text-align: center;
}

.attachments {
    padding-right: 20px;
}

.attachment-delete {
    cursor: pointer;
    margin-left: -15px;
    font-weight: bold;
    color: #fff;
}
