@model TMS.ViewModels.KnowledgeBaseViewModels
@{
    Layout = "~/Views/Shared/KBLayout.cshtml";
    var relatedSolution = ViewBag.relatedSolution;
}
@using TMS.Models;
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    .category-item li {
        background: none;
    }

    .subcategory-item {
        padding-left: 20px;
    }

    .widget ul li {
        border-bottom: none;
    }

    .jstree-anchor {
        border: none;
    }

    .jstree-default .jstree-clicked {
        color: #0094ff;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .jstree-anchor:hover {
        color: #0094ff;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .link-color {
        color: #3393d8;
    }
</style>

<div class="col-lg-12">
    <div class="span8 page-content" id="all-articles">
    </div>
    <aside class="span4 page-sidebar">
        <section class="widget">
            <h3 class="title">Categories</h3>
            <div id="category-treeview-div">
            </div>
        </section>
    </aside>
</div>
@section scripts {
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script>
        $(document).ready(function () {
            showTreeViewModal();
            loadFAQ();
        });

        var loadFAQ = function () {
            $.ajax({
                url: "/FAQ/GetFAQ",
                type: "GET",
                success: function (data) {
                    if (data.data.length == 0) {
                        $(".question-list").append("<div class='col-sm-12' style='text-align:center'><p>There is no solution to display. </p></div>");
                    } else {
                        for (i = 0; i < data.data.length; i++) {
                            var content = data.data[i].Content;
                            content = $.truncate(content, {
                                length: 350,
                            });
                            $('#all-articles').append(
                                '<article class="type-post format-standard hentry clearfix">'
                                + '<h1 class="post-title"><a href="/KnowledgeBase/Detail/' + data.data[i].Name + '">' + data.data[i].Subject + '</a></h1>'
                                + '<div class="post-meta clearfix">'
                                + '<span class="date">' + formatDateTime(new Date(parseInt(data.data[i].ModifiedTime.substr(6)))) + '</span>'
                                + '<span class="category"><a class="link-color" href="#">' + data.data[i].CategoryPath + '</a></span></div>'
                                + '<p class="longContent">' + content + '...<a class="link-color" href="/KnowledgeBase/Detail/' + data.data[i].ID + '"> Continue reading</a></p>'
                                + '<p><i>Keyword: ' + data.data[i].Keyword + '</i></p></article>');

                            
                        }
                    }
                }
            });
        }


        var loadSolutionByCategory = function (id) {

        }

        var showTreeViewModal = function () {
            $("#category-treeview-div").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "stripes": false,
                        "icons": false,
                        "dots": false
                    },
                    "data": {
                        "url": "/Admin/ManageSC/GetCategoryTreeViewData",
                        "type": "GET",
                        "contentType": "application/json; charset=utf-8",
                        "dataFilter": function (json) {
                            var data = $.parseJSON(json);
                            var nodes = [];
                            for (i = 0; i < data.data.length; i++) {
                                var dataItem = data.data[i];
                                var node = {
                                    id: dataItem.ID,
                                    parent: dataItem.ParentId == null ? "#" : dataItem.ParentId,
                                    text: dataItem.Name,
                                    state: {
                                        'opened': false,
                                        'selected': false
                                    },
                                    li_attr: {
                                        "style": ""
                                    },
                                    a_attr: {
                                        "data-id": dataItem.ID,
                                        "href": "/FAQ/Index/" + dataItem.Name,
                                        "class": "category-node"
                                    }
                                };
                                nodes.push(node);
                            }
                            return JSON.stringify(nodes);
                        }
                    }
                },
            });
        };

        $('#category-treeview-div').on("select_node.jstree", function (e, data) {
            window.location.href = data.node.a_attr.href;
        });
    </script>
}
