@model TMS.Models.Ticket
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Create New Ticket</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal" role="form" id="form-new-ticket" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Subject <font color="red">*</font></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Subject" placeholder="Subject" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="Type">
                                        <option value="0">None</option>
                                        <option value="1">Request</option>
                                        <option value="2">Problem</option>
                                        <option value="3">Change</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    <textarea class="form-control textarea" id="descriptionEditor" name="Description" placeholder="Description" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9">
                                    <input class="form-control" type="file" name="descriptionFiles" multiple>
                                    @*<div class="btn btn-default btn-file">
                                            <i class="fa fa-paperclip"></i> Attachment
                                            <input type="file" name="file" multiple>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-left: -30px;">
                            <div class="form-group">
                                <label class="control-label col-md-4">Impact</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="ImpactId" data-role="ddl-impact"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Impact Detail</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" name="ImpactDetail" placeholder="Impact Detail" cols="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Urgency</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="UrgencyId" data-role="ddl-urgency"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Priority</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="PriorityId" data-role="ddl-priority"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Category</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="CategoryId" data-role="ddl-category"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Requester <font color="red">*</font></label>
                                <div class="col-md-7">
                                    <input type="hidden" id="requesterId" name="RequesterId">
                                    <input class="form-control text-box single-line" id="requesterName" name="Requester" type="text" value="" readonly>
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:showRequester()"><img class="userslookup" src="~/Content/img/add-requester-icon.ico" /></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Department</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="DepartmentId" data-role="ddl-department"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Technician</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="Technician" data-role="ddl-technician"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Solution</label>
                                <div class="col-md-9">
                                    <textarea class="form-control textarea" id="solutionEditor" name="Solution" placeholder="" cols="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9">
                                    <input class="form-control" type="file" name="solutionFiles" multiple>

                                    @*<div class="btn btn-default btn-file">
                                            <i class="fa fa-paperclip"></i> Attachment
                                            <input type="file" name="file" multiple>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6" style="margin-left: -30px;">
                            <div class="form-group">
                                <label class="control-label col-md-4">Schedule Start Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control datetimep" name="ScheduleStartDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Schedule End Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control datetimep" name="ScheduleEndDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Actual Start Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control datetimep" name="ActualStartDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Actual End Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control datetimep" name="ActualEndDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <div class="form-error-messages" data-role="group-form-error"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="form-group " style="text-align: center;">
                        <input type="button" value="Save" data-role="btn-submit-new-ticket" class="btn btn-default bg-olive btn-flat" />
                        <input type="button" value="Cancel" data-role="btn-cancel" class="btn btn-default btn-flat" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div id="modal-add-requester" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select requester</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="requester-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department Name</th>
                            <th>Phone</th>
                            <th>Job Title</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        var requesterTable = null;

        $("[data-role=btn-cancel]")
            .on("click",
                function () {
                    window.location.href = "/HelpDesk/ManageTicket";
                });

        $("[data-role=btn-submit-new-ticket]").on("click", function () {
            var formData = new FormData($('#form-new-ticket')[0]);
            //formData.append('descriptionFiles', $('input[type="file"][name="descriptionFiles"]')[0].files[0]);
            //formData.append('solutionFiles', $('input[type="file"][name="solutionFiles"]')[0].files[0]);
            //var formData = $("#form-new-ticket").serialize();
            $.ajax({
                "url": "/HelpDesk/ManageTicket/AddNewTicket",
                "method": "POST",
                "data": formData,
                "success": function (data) {
                    if (data.success) {
                        noty({
                            text: "Ticket was created successfully!",
                            layout: "top",
                            type: "success",
                            timeout: 1000
                        });
                        setTimeout(function () {
                            window.location.href = "/HelpDesk/ManageTicket";
                        }, 1000);
                    } else {
                        noty({
                            text: data.msg,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                        if (data.data != null) {
                            $("#form-new-ticket [data-role=group-form-error]").html("");
                            for (var i = 0; i < data.data.length; i++) {
                                $("#form-new-ticket [data-role=group-form-error]").append($("<p/>", {
                                    "html": $("<font/>",
                                        {
                                            "color": "red",
                                            "html": "*" + data.data[i].Message
                                        })
                                }));
                            }
                        }
                    }
                },
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                "error": function (e) {
                    noty({
                        text: "Failed! Please try again!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2000
                    });
                }
            });
        });

        function initDropdownControl() {
            initUrgencyDropdown({
                control: $("[data-role=ddl-urgency]"),
                ignore: function () {
                    return [];
                }
            });
            initPriorityDropdown({
                control: $("[data-role=ddl-priority]"),
                ignore: function () {
                    return [];
                }
            });
            initImpactDropdown({
                control: $("[data-role=ddl-impact]"),
                ignore: function () {
                    return [];
                }
            });
            initDepartmentDropdown({
                control: $("[data-role=ddl-department]"),
                ignore: function () {
                    return [];
                }
            });
            initCategoryDropdown({
                control: $("[data-role=ddl-category]"),
                ignore: function () {
                    return [];
                }
            });
            initTechnicianDropdown({
                control: $("[data-role=ddl-technician]"),
                ignore: function () {
                    return [];
                },
                departmentId: function () {
                    return $("[data-role=ddl-department]").val();
                }
            });
        }

        function showRequester() {
            requesterTable.fnDraw();
            $("#modal-add-requester").modal("show");
        }

        function addSelectedUserToForm(requesterId, requesterName) {
            $("#requesterId").val(requesterId);
            $("#requesterName").val(requesterName);
            $("#modal-add-requester").modal("hide");
        }

        $(document)
            .ready(function () {
                setActiveTicketMenu();
                initDropdownControl();
                requesterTable = initRequesterTable($("#requester-table"));
            });
    </script>
}