@model IEnumerable<TMS.Models.Ticket>
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Ticket Management";
}

<style>
    .ticket-contents {
        padding: 0px;
    }

    .modal-header {
        background-color: #3c8dbc;
    }

    .modal-footer {
        text-align: center;
    }

    .detail-modal-body {
        background-color: #f6f6f6 !important;
        padding: 15px 15px 1px 15px;
    }

    .ticket-contents .box {
        margin-bottom: 15px;
    }

        .ticket-contents .box .box-header {
            padding: 5px 10px 5px 10px !important;
        }

        .ticket-contents .box .box-title {
            font-weight: bold;
        }

        .ticket-contents .box .box-body {
            padding: 5px 10px 5px 10px !important;
        }

    .header-content {
        margin-right: 10px;
    }

    .row-content {
        padding: 3px 0px;
    }

    input {
        max-height: 400px;
    }

    #ticket-description, #ticket-solution {
        white-space: pre-wrap;
    }

    .pre-wrap {
        white-space: pre-wrap;
    }
</style>

@section SidebarMenu {

}

@section InitModal {
    <div id="modal-cancel-ticket" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Do you want to cancel this ticket?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="btn-confirm-cancel">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="modal-merge-ticket" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Do you want to merge these tickets?</h4>
                </div>
                <div class="modal-body">
                    <p>The oldest request will be retained as the parent request. Related asset and other information will be lost for other(child) request(s). Do you want to proceed ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="btn-confirm-merge">Yes</button>
					<button type="button" class="btn btn-default" data-role="btn-cancel-merge">No</button>                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="detail-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="ticket-subject"></h4>
                </div>
                <div class="modal-body detail-modal-body">
                    <div class="ticket-contents">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h2 class="box-title">
                                    <i class="fa fa-info-circle header-content"></i>DETAIL
                                </h2>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Type: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-type"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Mode: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-mode"></span></div>
                                    </div>
                                    <div class="col-sm-4 " style="padding-left: 40px">
                                        <div class="col-sm-6 labels">
                                            <b>Status: </b>
                                        </div>
                                        <div class="col-sm-6" id="ticket-status"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Urgency: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-urgency"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Priority: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-priority"></span></div>
                                    </div>
                                    <div class="col-sm-4 " style="padding-left: 40px">
                                        <div class="col-sm-6 labels">
                                            <b>Impact: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-impact"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-12 ">
                                        <div class="col-sm-2 labels">
                                            <b>Impact Detail: </b>
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-impact-detail"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Category: </b>
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-category"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h2 class="box-title">
                                    <i class="fa fa-clock-o header-content"></i>DATE AND TIME
                                </h2>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6">
                                        <div class="col-sm-5 labels">
                                            <b>Created date: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-created-date"></span></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-5 labels">
                                            <b>Last modified date: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-modified-date"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6">
                                        <div class="col-sm-5 labels">
                                            <b>Scheduled start time: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-schedule-start"></span></div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="col-sm-5 labels">
                                            <b>Schedule end time: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-schedule-end"></span></div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6 ">
                                        <div class="col-sm-5 labels">
                                            <b>Actual start time: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-actual-start"></span></div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="col-sm-5 labels">
                                            <b>Actual end time: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-actual-end"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6">
                                        <div class="col-sm-5 labels">
                                            <b>Solved date: </b>
                                        </div>
                                        <div class="col-sm-7"><span id="ticket-solved-date"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h2 class="box-title">
                                    <i class="fa fa-file-text header-content"></i>INFORMATION
                                </h2>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Description: </b>
                                        </div>
                                        <div class="col-sm-10 pre-wrap" id="ticket-description" style="padding-left: 10px"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Solution: </b>
                                        </div>
                                        <div class="col-sm-10 pre-wrap" id="ticket-solution" style="padding-left: 10px"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Attachment: </b>
                                        </div>
                                        <div class="col-sm-10"><span id="ticket-attachment"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Department: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-department"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Technician: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-technician"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-4">
                                        <div class="col-sm-6 labels">
                                            <b>Created by: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-created-by"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Assigned by: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-assigned-by"></span></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-6 labels" style="padding-left: 30px">
                                            <b>Solved by: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-solved-by"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-flat" data-role="modal-btn-solve">Solve</a>
                    <a class="btn bg-olive btn-flat" data-role="modal-btn-reopen">Reopen</a>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section InitScript
{
    @Scripts.Render("~/bundles/helpdesk-manage-ticket")
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Ticket Management</h4>

            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;" >
                <a class="btn bg-olive btn-flat" style="display: inline-block;" href='@Url.Action("CreateNewTicket", "ManageTicket")'>
                    + Create New
                </a>
                <a class="btn bg-olive btn-flat margin-left10 disabled" style="display: inline-block;" data-role="btn-merge-ticket">
                    Merge
                </a>
                <div class="pull-right" style="margin-right: 20px">
                    <label>Status: </label>
                    <select id="status-dropdown">
                        <option value="0">Pending</option>
                        <option value="1">New</option>
                        <option value="2">Assigned</option>
                        <option value="3">Solved</option>
                        <option value="4">Unapproved</option>
                        <option value="5">Canceled</option>
                        <option value="6">Closed</option>
                    </select>&nbsp;&nbsp;
                    <label>Search:</label>
                    <input type="text" id="search-txt" />
                </div>
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th style="width: 5%;" />
                            <th style="width: 20%;">Subject</th>
                            <th style="width: 10%;">Requester</th>
                            <th style="width: 10%;">Assigned To</th>
                            <th style="width: 10%;">Solved Date</th>
                            <th style="width: 10%;">Status</th>
                            <th style="width: 15%;">Last Modified</th>
                            <th style="width: 20%;">Options</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->