@model IEnumerable<TMS.Models.Ticket>
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ticket Management";
}
<link rel="stylesheet" href="~/Content/custom-css/ticket-detail.css" />
<style>
    .select2-dropdown {
        z-index: 1200;
    }

    .select2-container {
        width: 100% !important;
    }

    #ticket-attachments a {
        margin: 2px 2px 2px 0px;
        display: inline-block;
    }
</style>

@section SidebarMenu {

}

@section InitModal {
    <div id="modal-cancel-ticket" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Do you want to cancel this ticket?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="btn-confirm-cancel"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="modal-merge-ticket" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Do you want to merge these tickets?</h4>
                </div>
                <div class="modal-body">
                    <p>The oldest request will be retained as the parent request. Related asset and other information will be lost for other(child) request(s). Do you want to proceed ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="btn-confirm-merge"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="modal-close-ticket" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Do you want to close this ticket?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="btn-confirm-close"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="modal-reassign-ticket" class="modal fade" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Reassign Ticket</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3">Department</label>
                            <div class="col-md-9">
                                <select class="form-control" id="department-select" data-role="ddl-department"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Technician</label>
                            <div class="col-md-9">
                                <select class="form-control" id="technician-select" data-role="ddl-technician"></select>
                            </div>
                        </div>
                        <div>
                            <span id="reassign-validation-message" class="col-md-offset-3 col-md-9 text-danger" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="btn-confirm-reassign"><i class="fa fa-check" aria-hidden="true"></i> Reassign</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="detail-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="ticket-subject"></h4>
                </div>
                <div class="modal-body detail-modal-body">
                    <div class="ticket-contents" id="collapse-parent">
                        <div class="box box-solid">
                            <div class="box-header with-border collapsed" data-toggle="collapse" data-target="#detail-box" data-parent="#collapse-parent">
                                <h2 class="box-title">
                                    <i class="fa fa-info-circle header-content"></i>DETAIL
                                </h2>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body collapse" id="detail-box">
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Type: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-type"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Mode: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-mode"></span></div>
                                    </div>
                                    <div class="col-sm-4 " style="padding-left: 40px">
                                        <div class="col-sm-6 labels">
                                            <b>Status: </b>
                                        </div>
                                        <div class="col-sm-6" id="ticket-status"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Urgency: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-urgency"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Priority: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-priority"></span></div>
                                    </div>
                                    <div class="col-sm-4 " style="padding-left: 40px">
                                        <div class="col-sm-6 labels">
                                            <b>Impact: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-impact"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-12 ">
                                        <div class="col-sm-2 labels">
                                            <b>Impact Detail: </b>
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-impact-detail"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Category: </b>
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-category"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid">
                            <div class="box-header with-border collapsed" data-toggle="collapse" data-target="#date-time-box" data-parent="#collapse-parent">
                                <h2 class="box-title">
                                    <i class="fa fa-clock-o header-content"></i>DATE AND TIME
                                </h2>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body collapse" id="date-time-box">
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 labels">
                                            <b>Created date: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-created-date"></span></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 labels">
                                            <b>Last modified date: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-modified-date"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 labels">
                                            <b>Scheduled start time: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-schedule-start"></span></div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="col-sm-6 labels">
                                            <b>Schedule end time: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-schedule-end"></span></div>
                                    </div>
                                </div>

                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6 ">
                                        <div class="col-sm-6 labels">
                                            <b>Actual start time: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-actual-start"></span></div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="col-sm-6 labels">
                                            <b>Actual end time: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-actual-end"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 labels">
                                            <b>Solved date: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-solved-date"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid">
                            <div class="box-header with-border" data-toggle="collapse" data-target="#information-box" data-parent="#collapse-parent">
                                <h2 class="box-title">
                                    <i class="fa fa-file-text header-content"></i>INFORMATION
                                </h2>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body collapse in" id="information-box">
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Description: </b>
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 10px"><span class="pre-wrap" id="ticket-description"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Solution: </b>
                                        </div>
                                        <div class="col-sm-10" style="padding-left: 10px"><span class="pre-wrap" id="ticket-solution"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 labels">
                                            <b>Attachment: </b>
                                        </div>
                                        <div class="col-sm-10" id="ticket-attachments"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content">
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Department: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-department"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Technician: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-technician"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 row-content ">
                                    <div class="col-sm-4">
                                        <div class="col-sm-6 labels">
                                            <b>Created by: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-created-by"></span></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-6 labels">
                                            <b>Assigned by: </b>
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-assigned-by"></span></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-6 labels" style="padding-left: 30px">
                                            <b>Solved by: </b>
                                        </div>
                                        <div class="col-sm-6"><span id="ticket-solved-by"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-flat" data-role="modal-btn-solve">Solve</a>
                    <div class="btn-group dropup" id="reopen-div">
                        <button type="button" class="btn bg-olive btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reopen <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" data-role="btn-show-close-modal" id="reopen-close-btn">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i> Close Ticket
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-role="btn-show-reassign-modal" id="reopen-reassign-btn">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Reassign
                                </a>
                            </li>
                            <li><a href="#" id="reopen-resolve-btn"><i class="fa fa-commenting" aria-hidden="true"></i> Re-solve Ticket</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section InitScript
{
    @Scripts.Render("~/bundles/helpdesk-manage-ticket")
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body" style="display: block;">
                <a class="btn bg-olive btn-flat" style="display: inline-block;" href='@Url.Action("CreateNewTicket", "ManageTicket")'>
                    <i class="fa fa-plus" aria-hidden="true"></i> Create New
                </a>
                <a class="btn bg-olive btn-flat margin-left10 disabled" style="display: inline-block;" data-role="btn-merge-ticket">
                    Merge
                </a>
                <div class="pull-right" style="margin-right: 20px">
                    <label>Status: </label>
                    <select id="status-dropdown">
                        <option value="0">Pending</option>
                        <option value="1">New</option>
                        <option value="2">Assigned</option>
                        <option value="3">Solved</option>
                        <option value="4">Unapproved</option>
                        <option value="5">Canceled</option>
                        <option value="6">Closed</option>
                    </select>&nbsp;&nbsp;
                    <label>Search:</label>
                    <input type="text" id="search-txt" />
                </div>
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th style="width: 5%;" />
                            <th style="width: 20%;">Subject</th>
                            <th style="width: 10%;">Requester</th>
                            <th style="width: 10%;">Assigned To</th>
                            <th style="width: 10%;">Solved Date</th>
                            <th style="width: 10%;">Status</th>
                            <th style="width: 15%;">Last Modified</th>
                            <th style="width: 20%;">Options</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->