@{
    Layout = "~/Areas/Technician/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Ticket List";
}

<style>
    .table thead, h4 {
        color: #1074bd;
        font-weight: bold;
    }

    h5 {
        color: #171fb0;
        font-weight: bold;
    }

    .ticket-contents {
        padding: 0px;
        margin-bottom: 20px;
    }

    .modal-header {
        background-color: #3c8dbc;
    }

    .modal-footer {
        text-align: center;
    }

    .detail-modal-body {
        background-color: #f6f6f6 !important;
        padding: 15px 15px 1px 15px;
    }

    .ticket-contents .box {
        margin-bottom: 15px;
    }

        .ticket-contents .box .box-header {
            padding: 5px 10px 5px 10px !important;
        }

        .ticket-contents .box .box-title {
            font-weight: bold;
        }

        .ticket-contents .box .box-body {
            padding: 5px 10px 5px 10px !important;
        }

    .header-content {
        margin-right: 10px;
    }

    .row-content {
        padding: 3px 0px;
    }

    input {
        max-height: 400px;
    }

    #ticket-description, #ticket-solution {
        white-space: pre-wrap;
    }

    .select2-dropdown {
        z-index: 1200;
    }

    .select2-container {
        width: 100% !important;
    }

    #ticket-description-attachments a, #ticket-solution-attachments a {
        margin: 2px 2px 2px 0px;
        display: inline-block;
    }

    .ticket-info {
        margin-bottom: 15px;
    }

    .ticket-subject {
        font-size: 16px;
    }

    .label-status {
        display: inline-block;
    }

        .label-status .label {
            display: inline-block;
            min-width: 80px;
            border-radius: unset;
            padding: 5px;
            font-size: 14px;
        }

    .priority-color {
        display: inline-block;
        margin-top: 10px;
        width: 12px;
        height: 12px;
    }

    .overdue {
        background-color: #de1515;
        color: #ffffff;
        display: block;
        margin-top: 5px;
        width: 120px;
        padding: 5px 8px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px">
        <div class="box box-solid">
            <div class="box-header"></div>
            <div class="box-body">
                <div class="form-inline pull-right" style="margin-right: 20px">
                    <div class="form-group">
                        <label>Sort by &nbsp;</label>
                        <select class="form-control" id="sort-ticket">
                            <option value="Default" default>Default</option>
                            <option value="SubjectAsc">Subject - A to Z</option>
                            <option value="SubjectDsc">Subject - Z to A</option>
                            <option value="PriorityAsc">Priority - Low to High</option>
                            <option value="PriorityDsc">Priority - High to Low</option>
                            <option value="DueDateAsc">Due by date - Oldest to Lastest</option>
                            <option value="DueDateDsc">Due by date - Lastest to Oldest</option>
                            <option value="CreatedDateAsc">Date created - Oldest to Lastest</option>
                            <option value="CreatedDateDsc">Date created - Lastest to Oldest</option>
                            <option value="ModifiedDateAsc">Date modified - Oldest to Lastest</option>
                            <option value="ModifiedDateDsc">Date modified - Lastest to Oldest</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Status: &nbsp;</label>
                        <select class="form-control" id="filter-by-status">
                            <option value="1">All</option>
                            <option value="2">Assigned</option>
                            <option value="3">Solved</option>
                            <option value="4">Unapproved</option>
                            <option value="5">Cancelled</option>
                            <option value="6">Closed</option>
                        </select>&nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        <label>Search: &nbsp;</label>
                        <input class="form-control" type="text" id="search-txt" />
                    </div>

                </div>
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th style="width: 90%">Ticket</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                @*<table class="table" id="ticket-table">

                    </table>*@

                <!-- View ticket detail modal -->
                <div id="detail-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="ticket-subject"></h4>
                            </div>
                            <div class="modal-body detail-modal-body">
                                <div class="ticket-contents">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h2 class="box-title">
                                                <i class="fa fa-info-circle header-content"></i>DETAIL
                                            </h2>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Type: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-type"></span></div>
                                                </div>
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Mode: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-mode"></span></div>
                                                </div>
                                                <div class="col-sm-4 " style="padding-left: 40px">
                                                    <div class="col-sm-6 labels">
                                                        <b>Status: </b>
                                                    </div>
                                                    <div class="col-sm-6" id="ticket-status"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Urgency: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-urgency"></span></div>
                                                </div>
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Priority: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-priority"></span></div>
                                                </div>
                                                <div class="col-sm-4 " style="padding-left: 40px">
                                                    <div class="col-sm-6 labels">
                                                        <b>Impact: </b>
                                                    </div>
                                                    <div class="col-sm-6"><span id="ticket-impact"></span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-12 ">
                                                    <div class="col-sm-2 labels">
                                                        <b>Impact Detail: </b>
                                                    </div>
                                                    <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-impact-detail"></span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-2 labels">
                                                        <b>Category: </b>
                                                    </div>
                                                    <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-category"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h2 class="box-title">
                                                <i class="fa fa-clock-o header-content"></i>DATE AND TIME
                                            </h2>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-5 labels">
                                                        <b>Solved date: </b>
                                                    </div>
                                                    <div class="col-sm-7"><span id="ticket-solved-date"></span></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="col-sm-5 labels">
                                                        <b>Last modified date: </b>
                                                    </div>
                                                    <div class="col-sm-7"><span id="ticket-modified-date"></span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-5 labels">
                                                        <b>Scheduled start time: </b>
                                                    </div>
                                                    <div class="col-sm-7"><span id="ticket-schedule-start"></span></div>
                                                </div>
                                                <div class="col-sm-6 ">
                                                    <div class="col-sm-5 labels">
                                                        <b>Schedule end time: </b>
                                                    </div>
                                                    <div class="col-sm-7"><span id="ticket-schedule-end"></span></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-6 ">
                                                    <div class="col-sm-5 labels">
                                                        <b>Actual start time: </b>
                                                    </div>
                                                    <div class="col-sm-7"><span id="ticket-actual-start"></span></div>
                                                </div>
                                                <div class="col-sm-6 ">
                                                    <div class="col-sm-5 labels">
                                                        <b>Actual end time: </b>
                                                    </div>
                                                    <div class="col-sm-7"><span id="ticket-actual-end"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h2 class="box-title">
                                                <i class="fa fa-file-text header-content"></i>INFORMATION
                                            </h2>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="col-sm-12 row-content ">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-2 labels">
                                                        <b>Description: </b>
                                                    </div>
                                                    <div class="col-sm-10 pre-wrap" id="ticket-description" style="padding-left: 10px"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content ">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-2 labels">
                                                        <b>Solution: </b>
                                                    </div>
                                                    <div class="col-sm-10 pre-wrap" id="ticket-solution" style="padding-left: 10px"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content ">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-2 labels">
                                                        <b>Attachment: </b>
                                                    </div>
                                                    <div class="col-sm-10"><span id="ticket-attachment"></span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content">
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Group: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-group"></span></div>
                                                </div>
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Technician: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-technician"></span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 row-content ">
                                                <div class="col-sm-4">
                                                    <div class="col-sm-6 labels">
                                                        <b>Created by: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-created-by"></span></div>
                                                </div>
                                                <div class="col-sm-4 ">
                                                    <div class="col-sm-6 labels">
                                                        <b>Assigned by: </b>
                                                    </div>
                                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-assigned-by"></span></div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="col-sm-6 labels" style="padding-left: 30px">
                                                        <b>Solved by: </b>
                                                    </div>
                                                    <div class="col-sm-6"><span id="ticket-solved-by"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Het detail-->
            </div>
        </div>
        <a href="@(Url.Action("Index", "Home"))">
            <i class="fa fa-reply fa-1x" aria-hidden="true"></i>
            Back to Homepage
        </a>
    </div>
</div>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        setActiveTicketMenu();
        $(window).on('resize', function () {
            $('#ticket-table .long-table-column').trunk8({
                lines: 3,
                tooltip: false
            });
        });
        var initDataTable = function () {
            $("#ticket-table").DataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                order: [[0, 'desc']],
                lengthChange: false,
                filter: false,
                drawCallback: function () {
                    $('#ticket-table .long-table-column').trunk8({
                        lines: 3,
                        tooltip: false
                    });
                },
                ajax: {
                    url: "/Technician/ManageTicket/GetTechnicianTickets",
                    data: function (d) {
                        d.filter_sort = $("#sort-ticket").val(),
                        d.select_status = $("#filter-by-status").val(),
                        d.search_text = $("#search-txt").val()
                    }
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "render": function (data, type, row) {
                            var ticketInfo = "";
                            var code = $("<span/>",
                            {
                                "class": "text-muted text-sm",
                                "text": "#" + row.Code
                            })[0].outerHTML;

                            var status = $("<div/>",
                           {
                               "class": "label-status",
                               "html": getStatusLabel(row.Status)
                           })[0].outerHTML;

                            var subject = $("<a/>",
                            {
                                "class": "ticket-subject",
                                "href": "/Ticket/TicketDetail/" + row.Id,
                                "html": row.Subject
                            })[0].outerHTML;

                            var requester = row.Requester != "" ? row.Requester : "-";

                            var createdBy = $("<p/>",
                            {
                                "class": "text-muted",
                                "html": 'Created by &nbsp;<span class="text-blue text-bold">' + row.CreatedBy + '</span>,&nbsp;&nbsp;<span class="text-bold">' + row.CreatedTimeString + '.</span>'
                            })[0].outerHTML;
                            var requestedBy = $("<p/>",
                            {
                                "class": "text-muted",
                                "html": 'Request by <span class="text-bold text-blue">' + requester + '.</span>'
                            })[0].outerHTML;

                            var priority = row.Priority == "" ? " Unassigned" : '<div class="priority-color" style="background-color: ' + row.PriorityColor + '"></div>&nbsp;<span class="text-bold">' + row.Priority
                            var priorityRow = $("<span/>",
                            {
                                "html": 'Priority: ' + priority
                            })[0].outerHTML;

                            var modifiedTime = $("<span/>",
                            {
                                "class": "text-muted",
                                "html": 'Last modified <span class="text-bold">' + row.ModifiedTimeString + '. </span>'
                            })[0].outerHTML;

                            var overdueTime = "";
                            var overdueDiv = "";
                            if (row.IsOverdue) {
                                overdueTime = $("<span/>",
                                {
                                    "class": "text-red text-bold",
                                    "text": row.OverdueDateString
                                })[0].outerHTML;
                                overdueDiv = $("<div/>",
                                {
                                    "class": "overdue",
                                    "html": "Overdue"
                                })[0].outerHTML;
                            } else {
                                overdueTime = $("<span/>",
                                {
                                    "class": "text-black text-bold",
                                    "text": row.OverdueDateString
                                })[0].outerHTML;
                            }

                            ticketInfo = $("<div/>",
                            {
                                "class": "col-lg-10 col-sm-9",
                                "style": "line-height: 14px",
                                "html": '<p>' + status + '&nbsp;&nbsp;' + subject + '&nbsp;&nbsp;' + code + '</p>' + createdBy + modifiedTime + overdueTime
                            })[0].outerHTML;

                            ticketInfo += $("<div/>",
                            {
                                "class": "col-lg-2 col-sm-3 pull-right",
                                "style": "padding-top: 12px",
                                "html": priorityRow + overdueDiv
                            })[0].outerHTML;

                            var ticketInfoContainer = $("<div/>",
                            {
                                "class": "row ticket-info",
                                "html": ticketInfo
                            })[0].outerHTML;

                            return ticketInfoContainer;
                        },
                    },
                    {
                        "render": function (data, type, row) {
                            var history = '<li>'
                            + '<a href="/Ticket/History/' + row.Id + '">'
                            + '<i class="fa fa-history" aria-hidden="true"></i> Ticket History'
                            + '</a>'
                            + '</li>';
                            var detail = '<li>'
                            + '<a href="/Ticket/TicketDetail/' + row.Id + '">'
                            + '<i class="fa fa-info-circle" aria-hidden="true"></i> Ticket Detail'
                            + '</a>'
                            + '</li>';
                            var solve = ''
                            if (row.Status == "Assigned") {
                                solve = '<li>'
                            + '<a href="/Ticket/Solve/' + row.Id + '">'
                            + '<i class="fa fa-commenting" aria-hidden="true"></i> Solve Ticket'
                            + '</a>'
                            + '</li>'
                            + '<li>'
                            }

                            var links = detail + history + solve;
                            var action = '<div class="btn-group" style="padding-top: 10px">'
                            + '<button type="button" class="btn bg-olive btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
                            + 'Action <span class="caret"></span>'
                            + '</button>'
                            + '<ul class="dropdown-menu dropdown-menu-right">';
                            action += links;
                            action += '</ul>'
                                + '</div>';
                            return action;
                        },
                        "sortable": false,
                        "targets": 1
                    }]
            });
        }


        var reloadDataTable = function () {
            var oTable = $("#ticket-table").dataTable();
            oTable.api().ajax.reload();
        };

        $(document).ready(function () {
            initDataTable();

        });

        $("#search-txt").keyup(function () {
            reloadDataTable();
        });

        $("#filter-by-status").change(function () {
            reloadDataTable();
        });

        $("#sort-ticket").on("change", function () {
            reloadDataTable();
        });

        $("#ticket-table").on("click", ".view-detail", function () {
            var id = $(this).attr('data-id'),
                $modal = $('#detail-modal');

            $.ajax({
                url: '@Url.Action("GetTicketDetail", "Ticket", new { area=""})',
                type: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (data) {
                    var solveUrl = '/Ticket/Solve/' + data.id;

                    $('#ticket-subject').text(data.subject);
                    $('#ticket-description').text(data.description);
                    $('#ticket-created-by').text(data.creater);
                    $('#ticket-assigned-by').text(data.assigner);
                    $('#ticket-solved-by').text(data.solver);
                    $('#ticket-type').text(data.type);
                    $('#ticket-mode').text(data.mode);
                    $('#ticket-urgency').text(data.urgency);
                    $('#ticket-priority').text(data.priority);
                    $('#ticket-category').text(data.category);
                    $('#ticket-impact').text(data.impact);
                    $('#ticket-impact-detail').text(data.impactDetail);


                    if (data.status == 2) {
                        $('#ticket-status').text('Assigned');
                        if (data.solution == "None") {
                            $('#ticket-solution').empty().append("<p><i>This ticket is not solved yet. Would you like to solve it now? </i>"
                                                        + "<a class='btn-sm btn-primary' href='" + solveUrl + "'>Solve</a></p>");
                        }
                        else {
                            $('#ticket-solution').empty().append("<p>" + data.solution + "</p>");
                        }
                    }
                    else {
                        if (data.status == 3) {
                            $('#ticket-status').text('Solved');
                        } else if (data.status == 4) {
                            $('#ticket-status').text('Unapproved');
                        } else if (data.status == 5) {
                            $('#ticket-status').text('Cancelled');
                        } else if (data.status == 6) {
                            $('#ticket-status').text('Closed');
                        }
                        $('#ticket-solution').empty().append("<p>" + data.solution + "</p>");
                    }

                    $('#ticket-solved-date').text(data.solvedDate);
                    $('#ticket-modified-date').text(data.lastModified);
                    $('#ticket-schedule-start').text(data.scheduleStart);
                    $('#ticket-schedule-end').text(data.scheduleEnd);
                    $('#ticket-actual-start').text(data.actualStart);
                    $('#ticket-actual-end').text(data.actualEnd);

                    $modal.modal("show");
                },
                failure: function (data) {
                    alert(data.d);
                }
            });
        });

    </script>
}




