@{
    Layout = "~/Areas/Technician/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Solve Ticket";
    var ticket = ViewBag.Ticket;
    var solveUser = ViewBag.solveUser;
    var createdUser = ViewBag.CreatedUser  ;
}


<div class="row col-md-12">
    <div class="box box-primary">
        
    </div>
</div>

