@model IEnumerable<TMS.Models.Ticket>
@{
    Layout = "~/Views/Shared/TMSLayout.cshtml";
}
@{
    ViewBag.Title = "Ticket Management";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header padding-bottom-20 pull-left ">
                <button type="button" class="btn btn-block btn-primary" onclick="@("location.href='"+ Url.Action("Create", "Tickets")+"'")">
                    Create New Ticket
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th>
                                Date Opened
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Solution
                            </th>
                            <th>
                                Date Modified
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $("#ticket-table").DataTable({
            processing: true,
            serverSide: true,
            paging: true,
            sort: true,
            ajax: {
                url: "/Tickets/GetTickets"
            },
            "columnDefs": [
            {
                "render": function (data, type, row) {
                    return row[0];
                },
                "targets": 0,
                "type": "date"
            },
            {
                "render": function (data, type, row) {
                    return row[1];
                },
                "targets": 1
            },
            {
                "render": function (data, type, row) {
                    return row[2];
                },
                "targets": 2
            },
            {
                "render": function (data, type, row) {
                    return row[3];
                },
                "targets": 3
            },
            {
                "render": function (data, type, row) {
                    return row[4];
                },
                "targets": 4,
                "type": "date"
            }

            ]
        });
    </script>
}

