@model IEnumerable<TMS.Models.Ticket>

@{
    Layout = "~/Views/Shared/TMSLayout.cshtml";
}

@{
    ViewBag.Title = "Ticket";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="ticket-table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Technician</th>
            <th>Department</th>
            <th>Status</th>
            <th>Created Time</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $("#ticket-table").DataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "bSort": true,
            "sAjaxSource": "/Tickets/GetTickets",
            "bProcessing": true,
            @*"fnServerParams": function (aoData) {
                aoData.push({ "name": "id", "value": @ViewBag.storeId });
            },*@
            "aLengthMenu": [10, 20, 50],
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, o) {
                        return o[1];
                    }
                },
                {
                    "aTargets": [1],
                    "bSortable": false,
                    "mRender": function (data, type, o) {
                        return o[2];
                    }
                },
                {
                    "aTargets": [2],
                    "bSortable": false,
                    "mRender": function (data, type, o) {
                        return o[3];
                    }
                },
                {
                    "aTargets": [3],
                    "bSortable": false,
                    "mRender": function (data, type, o) {
                        return o[4];
                    }
                },
                {
                    "aTargets": [4],
                    "bSortable": false,
                    "mRender": function (data, type, o) {
                        return o[5];
                    }
                }
            ]
        });
    </script>
}