@using TMS.Utils
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Solutions";
}
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    #custom-search-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

        #custom-search-input .glyphicon-search {
            font-size: 15px;
        }

    .box {
        overflow: hidden;
    }

    .left-menu {
        padding: 0;
        height: 100%;
        background: #f5f3f3;
    }
    /*remove list style (circles)*/
    .menu-collapse {
        color: #E4E4E4;
    }
    /*header line style and border*/
    .header {
        color: #2c2c2c;
        background-color: #f5f3f3;
        padding: 4px 12px;
    }

    #category-treeview-div {
        min-height: 70vh;
    }

    .questions {
        padding: 0;
        background: #ffffff;
    }

    .header-content {
        color: #666;
        background-color: #fff;
        padding: 5px 12px 4px 12px;
    }

    .question-row {
        border-bottom: solid 1px #ccc;
        padding: 10px;
        overflow-y: auto;
    }

    .question-row:last-of-type {
        border-bottom: none;
    }

    .question-list {
        height: 70vh;
        overflow-y: auto;
    }

    .question-detail {
        padding: 8px 20px;
        display: none;
    }
    .jstree-node {
        margin-left: 0px !important;
        padding-left: 12px !important;
    }

    .jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
        color: #2c2c2c;
    }

    .jstree-icon {
        /*display: none !important;*/
    }

    li[aria-level="1"] > .jstree-children {
        background-color: #E4E4E4;
        margin-left: -15px !important;
        padding-left: 20px !important;
    }

    .jstree-default .jstree-anchor {
        min-height: 30px;
        line-height: 30px;
    }

    .jstree-anchor {
        width: 150%;
        margin-left: -50%;
        padding-left: 50%;
        white-space: normal !important;
        height: auto !important;
    }

    .jstree-clicked {
        color: #fff !important;
        background: #b6b2b2 !important;
    }

    .button {
        text-align: right;
    }

    .jstree-anchor:hover {
        color: #fff;
        background: #b6b2b2;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="left-menu col-md-3 menu-collapse">
                <div class="header"><h5>Topic</h5></div>
                <div id="category-treeview-div">

                </div>
            </div>
            <div class="questions col-md-9">
                <div class="header-content col-md-12">
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-flat" href="/KnowledgeBase/CreateKB">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; New solution
                        </a>
                        <a class="btn btn-default btn-flat" href="#"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="box-tools pull-right col-md-4" style="">
                        <div class="has-feedback">
                            <input type="text" id="key_search" class="form-control input-sm" placeholder="Search solution..." />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="question-list col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script>
        $(document).ready(function () {
            showTreeViewModal();
            getAllSolution();
            $(".menu-item").click(function () {

                //if submenu is hidden, does not have active class
                if (!$(this).hasClass("active")) {

                    // hide any open menus and remove active classes
                    $(".menu-list").slideUp(350);
                    $(".menu-item").removeClass("active");

                    // open submenu and add the active class
                    $(this).next("div").slideDown(350);
                    $(this).addClass("active");

                    //if submenu is visible
                } else if ($(this).hasClass("active")) {

                    //hide submenu and remove active class
                    $(this).removeClass("active");
                    $(this).next("div").slideUp(350);
                }
            });

            $(".question-list").on("click", ".question-title", function () {

                // if submenu is hidden, does not have active class
                if (!$(this).hasClass("active")) {

                    // hide any open menus and remove active classes
                    $(".question-detail").slideUp(400);
                    $(".question-title").removeClass("active");

                    // open submenu and add the active class
                    $(this).closest('.question-row').find('.question-detail').slideToggle(400);
                    $(this).addClass("active");

                    //if submenu is visible
                } else if ($(this).hasClass("active")) {

                    //hide submenu and remove active class
                    $(this).removeClass("active");
                    $(this).closest('.question-row').find('.question-detail').slideToggle(400);
                }
            });
            $('#create-solution-form textarea').wysihtml5();

        });

        var showTreeViewModal = function () {
            $("#category-treeview-div").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "stripes": false,
                        "icons": false,
                        "dots": false
                    },
                    "data": {
                        "url": "/Admin/ManageSC/GetCategoryTreeViewData",
                        "type": "GET",
                        "contentType": "application/json; charset=utf-8",
                        "dataFilter": function (json) {
                            var data = $.parseJSON(json);
                            var nodes = [];
                            for (i = 0; i < data.data.length; i++) {
                                var dataItem = data.data[i];
                                var node = {
                                    id: dataItem.ID,
                                    parent: dataItem.ParentId == null ? "#" : dataItem.ParentId,
                                    text: dataItem.Name,
                                    state: {
                                        'opened': false,
                                        'selected': false
                                    },
                                    li_attr: {
                                        "style": ""
                                    },
                                    a_attr: {
                                        "data-id": dataItem.ID,
                                        "class" : "category-node"
                                    }
                                };
                                nodes.push(node);
                            }
                            return JSON.stringify(nodes);
                        }
                    }
                },
            });
        };

        function getAllSolution () {
            $.ajax({
                url: "/KnowledgeBase/GetSolutions/",
                type: "GET",
                data: {
                    key_search: $("#key_search").val()
                },
                success: function (data) {
                    $(".question-list").empty();
                    if (data.data.length == 0) {
                        $(".question-list").append("<div class='col-sm-12' style='text-align:center'><p>There is no solution to display. </p></div>");
                    } else {
                        for (i = 0; i < data.data.length; i++) {
                            var content = data.data[i].Content;
                            content = $.truncate(content, {
                                length: 350,
                            });
                            
                            $(".question-list").append(
                                '<div class="question-row"><div class="question-header col-sm-10"><input type="checkbox" />'
                                + '<a class="question-title" href="#"> ' + data.data[i].Subject + '</a></div>'
                                + '<div class="col-sm-2 button"><a class="btn-sm btn-success" href="/KnowledgeBase/Detail/' + data.data[i].ID + '"><i class="fa fa-eye"></i></a>'
                                + '&nbsp;&nbsp;<a class="btn-sm btn-primary" href="/KnowledgeBase/Edit/' + data.data[i].ID + '"><i class="fa fa-pencil"></i></a></div>'
                                + '<div class="question-detail col-sm-12">' + content
                                + '<a href="/KnowledgeBase/Detail/' + data.data[i].ID + '">...Continue Reading</a>'
                                + '<p><i>Keyword: ' + data.data[i].Keyword + '</i></p></div></div>');
                        }
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                }
            });
        }

        function getSolutionsByActiveNode(id) {
            $.ajax({
                url: "/KnowledgeBase/GetSolutionsByCategory/",
                type: "GET",
                data: {
                    id: id,
                    key_search: $("#key_search").val()
                },
                success: function (data) {
                    $(".question-list").empty();
                    if (data.data.length == 0) {
                        $(".question-list").append("<div class='col-sm-12' style='text-align:center'><p>There is no solution to display. </p></div>");
                    } else {
                        for (i = 0; i < data.data.length; i++) {
                            var content = data.data[i].Content;
                            content = $.truncate(content, {
                                length: 350,
                            });
                            $(".question-list").append(
                                '<div class="question-row"><div class="question-header col-sm-10"><input type="checkbox" />'
                                + '<a class="question-title" href="#"> ' + data.data[i].Subject + '</a></div>'
                                + '<div class="col-sm-2 button"><a class="btn-sm btn-success" href="/KnowledgeBase/Detail/' + data.data[i].ID + '"><i class="fa fa-eye"></i></a>'
                                + '&nbsp;&nbsp;<a class="btn-sm btn-primary" href="/KnowledgeBase/Edit/' + data.data[i].ID + '"><i class="fa fa-pencil"></i></a></div>'
                                + '<div class="question-detail col-sm-12">' + content
                                + '<a href="/KnowledgeBase/Detail/' + data.data[i].ID + '">...Continue Reading</a>'
                                + '<p><i>Keyword: ' + data.data[i].Keyword + '</i></p></div></div>');
                        }
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                }
            });
        }

        function setQuestionListHeight() {
            var contentHeight = $("#category-treeview-div").height();
            $(".question-list").css("height", contentHeight);
        }

        $("#key_search").on("keyup", function () {
            if ($("#category-treeview-div .category-node").hasClass("jstree-clicked")) {
                getSolutionsByActiveNode($(".jstree-clicked").attr("data-id"));
            }
            else {
                getAllSolution();
            }
        });

        $("#category-treeview-div").on("click", ".category-node", function () {
            getSolutionsByActiveNode($(this).attr("data-id"));
        });

        $("#category-treeview-div").on("after_open.jstree", function () {
            setQuestionListHeight();
        });

        $("#category-treeview-div").on("after_close.jstree", function () {
            setQuestionListHeight();
        });

        $('#category-treeview-div').on("select_node.jstree", function (e, data) {
            data.instance.toggle_node(data.node);
        });
    </script>
}

