@using TMS.Utils
@{
    ViewBag.Title = "Solutions";
}
@{
    if (ViewBag.LayoutRole == ConstantUtil.UserRoleString.HelpDesk)
    {
        Layout = "~/Areas/HelpDesk/Views/Shared/_TopLayout.cshtml";
    }
    else if (ViewBag.LayoutRole == ConstantUtil.UserRoleString.Technician)
    {
        Layout = "~/Areas/Technician/Views/Shared/_TopLayout.cshtml";
    }
}
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />
<link href="~/Content/Plugins/icheck/skins/square/blue.css" rel="stylesheet">

<style>
    a:hover {
        cursor: pointer;
    }

    .btn-sm {
        border-radius: unset;
    }

    .content-wrapper .container {
        background-color: #fff !important;
        padding-top: 0px !important;
    }

    #custom-search-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

        #custom-search-input .glyphicon-search {
            font-size: 15px;
        }

    .box {
        overflow: hidden;
    }

    .left-menu {
        padding: 0;
        height: 100%;
        background-color: transparent;
        overflow: hidden;
    }
    /*remove list style (circles)*/
    .menu-collapse {
        color: #ccc;
    }
    /*header line style and border*/
    .header {
        color: #2c2c2c;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    #category-treeview-div {
        min-height: 70vh;
    }

    .questions {
        padding: 0;
        background: #ffffff;
    }

    .header-content {
        color: #666;
        background-color: transparent;
        padding: 8px 15px;
        margin: 15px 0px;
    }

    .question-row {
        border-bottom: solid 1px #E4E4E4;
        padding: 10px 0px;
        overflow-y: auto;
    }

        .question-row:last-of-type {
            border-bottom: none;
        }

    .question-list {
        height: 70vh;
        overflow-y: auto;
        padding: 10px 0px;
    }

    .question-detail {
        padding: 8px 20px;
        display: none;
    }

    .jstree-node {
        margin-left: 0px !important;
        padding-left: 12px !important;
    }

    .jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
        color: #2c2c2c;
    }

    .jstree-icon {
        /*display: none !important;*/
    }

    li[aria-level="1"] > .jstree-children {
        background-color: transparent !important;
        margin-left: -15px !important;
        padding-left: 20px !important;
    }

    .jstree-default .jstree-anchor {
        min-height: 30px;
    }

    .jstree-anchor {
        width: 150%;
        margin-left: -50%;
        padding-left: 50%;
        white-space: normal !important;
        height: auto !important;
    }

    .jstree-clicked {
        color: #354da8 !important;
        font-weight: bold;
        background-color: transparent !important;
        border: none !important;
        box-shadow: unset !important;
    }

    .button {
        text-align: right;
    }

    .jstree-anchor:hover {
        color: #4e69d3 !important;
        font-weight: bold;
        background-color: transparent !important;
        border: none !important;
        box-shadow: unset !important;
    }

    .border-left {
        border-left: solid 1px #E4E4E4;
    }

    .border-bottom {
        border-bottom: solid 1px #E4E4E4;
    }
</style>

<div class="row">
    <div class="col-sm-12 no-padding border-bottom">
        <div class="left-menu col-xs-3 menu-collapse" style="padding: 23px 20px">
            <a href="javascript:void(0)" class="btn btn-primary btn-flat" onclick="showFrequentlyAskedTickets();">10 Frequently Asked Tickets</a>
        </div>
        <div class="col-xs-9 no-padding border-left">
            <div class="header-content col-sm-12">
                <div class="col-md-8 col-xs-9 no-padding">
                    <a class="btn btn-success btn-flat" href="/KnowledgeBase/Create">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; New solution
                    </a>
                    &nbsp;&nbsp;
                    <a class="btn btn-warning btn-flat" id="delete-solutions" href="javascript:void(0)"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</a>
                </div>
                <div class="col-md-4 col-xs-3 no-padding" style="text-align: right">
                    <div class="has-feedback">
                        <input type="text" id="key_search" class="form-control input" placeholder="Search solution..." />
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 no-padding">
        <div class="left-menu col-xs-3 menu-collapse">
            <div class="header"><span>Categories</span></div>
            <div id="category-treeview-div">

            </div>
        </div>
        <div class="col-xs-9 no-padding border-left">
            <div class="questions">
                <div class="question-list col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body detail-modal-body">
                Do you want to delete these solutions?
            </div>
            <div class="modal-footer">
                <button type="button" id="yesBtn" class="btn btn-primary btn-flat">Yes</button>
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="frequently-asked-tickets-modal" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">10 Frequently Asked Tickets</h4>
            </div>
            <div class="modal-body">
                <div class="pull-right">
                    <select id="frequently-asked-tickets-time-option-select">
                        <option value="1">Today</option>
                        <option value="2">4 Days ago</option>
                        <option value="3" selected>This Week</option>
                        <option value="4">This Month</option>
                        <option value="5">This Year</option>
                    </select>
                </div>
                <table class="table dataTable" id="frequently-asked-tickets-table">
                    <thead>
                        <tr>
                            <th>Tags</th>
                            <th>Frequency</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script>
        var selectedSolutions = [];

        $(document).ready(function () {
            notifyFlashMessage();
            showTreeViewModal();
            getSolutionsByActiveNode(null);
            initFrequentlyAskedTicketsTable();
            $(".menu-item").click(function () {

                //if submenu is hidden, does not have active class
                if (!$(this).hasClass("active")) {

                    // hide any open menus and remove active classes
                    $(".menu-list").slideUp(350);
                    $(".menu-item").removeClass("active");

                    // open submenu and add the active class
                    $(this).next("div").slideDown(350);
                    $(this).addClass("active");

                    //if submenu is visible
                } else if ($(this).hasClass("active")) {

                    //hide submenu and remove active class
                    $(this).removeClass("active");
                    $(this).next("div").slideUp(350);
                }
            });

            $(".question-list").on("click", ".question-title", function () {

                // if submenu is hidden, does not have active class
                if (!$(this).hasClass("active")) {

                    // hide any open menus and remove active classes
                    $(".question-detail").slideUp(400);
                    $(".question-title").removeClass("active");

                    // open submenu and add the active class
                    $(this).closest('.question-row').find('.question-detail').slideToggle(400);
                    $(this).addClass("active");

                    //if submenu is visible
                } else if ($(this).hasClass("active")) {

                    //hide submenu and remove active class
                    $(this).removeClass("active");
                    $(this).closest('.question-row').find('.question-detail').slideToggle(400);
                }
            });
            $('#create-solution-form textarea').wysihtml5();
        });

        var showTreeViewModal = function () {
            $("#category-treeview-div").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "stripes": false,
                        "icons": false,
                        "dots": false
                    },
                    "data": {
                        "url": "/KnowledgeBase/GetCategoryTreeViewData",
                        "type": "GET",
                        "contentType": "application/json; charset=utf-8",
                        "dataFilter": function (json) {
                            var data = $.parseJSON(json);
                            var nodes = [];
                            for (i = 0; i < data.data.length; i++) {
                                var dataItem = data.data[i];
                                var node = {
                                    id: dataItem.ID,
                                    parent: dataItem.ParentId == null ? "#" : dataItem.ParentId,
                                    text: dataItem.Name,
                                    state: {
                                        'opened': false,
                                        'selected': false
                                    },
                                    li_attr: {
                                        "style": ""
                                    },
                                    a_attr: {
                                        "data-id": dataItem.ID,
                                        "class": "category-node"
                                    }
                                };
                                nodes.push(node);
                            }
                            return JSON.stringify(nodes);
                        }
                    }
                },
            });
        };

        function getSolutionsByActiveNode(id) {
            $.ajax({
                url: "/KnowledgeBase/GetSolutionsByCategory/",
                type: "GET",
                data: {
                    id: id,
                    key_search: $("#key_search").val()
                },
                success: function (data) {
                    $(".question-list").empty();
                    if (data.data.length == 0) {
                        $(".question-list").append("<div class='col-sm-12' style='text-align:center'><p>There is no solution to display. </p></div>");
                    } else {
                        for (i = 0; i < data.data.length; i++) {
                            var content = data.data[i].Content;
                            content = $.truncate(content, {
                                length: 350,
                            });
                            var sId = data.data[i].ID;
                            var keywordTags = (data.data[i].Keywords).split(',');
                            var checkbox = $("<input/>", {
                                "type": "checkbox",
                                "data-role": "cbox-solution",
                                "data-id": sId,
                            })[0].outerHTML;
                            var subject = $("<a/>", {
                                "class": "question-title",
                                "html": data.data[i].Subject
                            })[0].outerHTML;
                            var buttons = $("<div/>", {
                                "class": "col-lg-2 button",
                                "html": $("<a/>", {
                                    "class": "btn-sm btn-success",
                                    "href": '/FAQ/Detail/' + data.data[i].Path,
                                    "html": '<i class="fa fa-eye"></i>'
                                })[0].outerHTML + '&nbsp;&nbsp;' + $("<a/>", {
                                    "class": "btn-sm btn-primary",
                                    "href": '/KnowledgeBase/Edit/' + sId,
                                    "html": '<i class="fa fa-pencil"></i>'
                                })[0].outerHTML
                            })[0].outerHTML;
                            var createdTime = $("<p/>", {
                                "html": '<i class="fa fa-calendar"></i>&nbsp;Created time: ' + data.data[i].CreatedTimeString
                            })[0].outerHTML;
                            var solutionContent = $("<p/>", {
                                "html": content + '<a href="/FAQ/Detail/' + data.data[i].Path + '">...Continue Reading</a>'
                            })[0].outerHTML;
                            var keywords = $("<p/>", {
                                "html": '<ul class="keywords" id="keyword' + sId + '"></ul>'
                            })[0].outerHTML;
                            var questionRowDiv = $("<div/>",
                                   {
                                       "class": "question-row",
                                       "html": $("<div/>",
                                               {
                                                   "class": "question-header col-lg-10",
                                                   "html": checkbox + '&nbsp;&nbsp;' + subject
                                               })[0].outerHTML + buttons +
                                               $("<div/>",
                                               {
                                                   "class": "question-detail col-sm-12",
                                                   "html": createdTime + solutionContent + keywords
                                               })[0].outerHTML
                                   })[0].outerHTML;

                            $(".question-list").append(questionRowDiv);


                            $("#keyword" + sId).empty();
                            if (data.data[i].Keywords != "") {
                                $("#keyword" + sId).append("<li style='padding: 5px 0px'>Keywords: </li>");
                                for (j = 0; j < keywordTags.length; j++) {
                                    var key = keywordTags[j].replace(/"/g, '');
                                    $("#keyword" + sId).append("<li><div class='key-tags'><span>" + key + "<span><div></li>");
                                }
                            } else {
                                $("#keyword" + sId).append("<li>Keywords: -</li>");
                            }
                            $(".question-list").find('img').hide();
                        }
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                },
                complete: function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                }
            });
        }

        $('.question-list').on('ifChecked', 'input[data-role="cbox-solution"]', function (e) {
            var id = $(this).attr("data-id");
            if (selectedSolutions.indexOf(id) == -1) {
                selectedSolutions.push(id);
            } else {
                selectedSolutions.splice(selectedSolutions.indexOf(id), 1);
            }
        });

        function setQuestionListHeight() {
            var contentHeight = $("#category-treeview-div").height();
            $(".question-list").css("height", contentHeight);
        }

        function checkSelectedCheckbox() {
            $('input[data-role="cbox-solution"]').each(function (index, element) {
                var id = $(element).attr("data-id");
                if (selectedSolutions.indexOf(id) != -1) {
                    $(element).prop("checked", true);
                }
            });
        }

        function deleteSolutions() {
            $.ajax({
                url: "/KnowledgeBase/Delete/",
                type: "POST",
                data: {
                    selectedSolutions: selectedSolutions
                },
                success: function (data) {
                    if (!data.success) {
                        noty({
                            text: data.message,
                            layout: "topRight",
                            type: "error",
                            timeout: 2000
                        });
                    } else {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000,
                        }, selectedSolutions = []);
                        getSolutionsByActiveNode();
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                }
            });
        }

        $('.question-list').on('click', 'input[data-role="cbox-solution"]', function (e) {
            var id = $(this).attr("data-id");
            if (selectedSolutions.indexOf(id) == -1) {
                selectedSolutions.push(id);
            } else {
                selectedSolutions.splice(selectedSolutions.indexOf(id), 1);
            }
        });

        $("#delete-solutions").on("click", function () {
            $modal = $("#delete-modal");
            $modal.modal("show");
        });

        $("#yesBtn").on("click", function () {
            deleteSolutions();
            $modal = $("#delete-modal");
            $modal.modal("hide");

        });

        $("#key_search").on("keyup", function () {
            if ($("#category-treeview-div .category-node").hasClass("jstree-clicked")) {
                getSolutionsByActiveNode($(".jstree-clicked").attr("data-id"));
            }
            else {
                getSolutionsByActiveNode(null);
            }
        });

        $("#category-treeview-div").on("click", ".category-node", function () {
            getSolutionsByActiveNode($(this).attr("data-id"));
        });

        $("#category-treeview-div").on("after_open.jstree", function () {
            setQuestionListHeight();
        });

        $("#category-treeview-div").on("after_close.jstree", function () {
            setQuestionListHeight();
        });

        $('#category-treeview-div').on("select_node.jstree", function (e, data) {
            data.instance.toggle_node(data.node);
        });

        var initFrequentlyAskedTicketsTable = function () {
            $("#frequently-asked-tickets-table").dataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                filter: false,
                lengthMenu: [5],
                order: [[1, 'desc']],
                lengthChange: false,
                ajax: {
                    url: "/KnowledgeBase/GetFrequentlyAskedTickets",
                    data: function (d) {
                        d.timeOption = $("#frequently-asked-tickets-time-option-select").val()
                    }
                },
                autoWidth: false,
                columnDefs: [
                    {
                        "targets": 0,
                        "width": "60%",
                        "render": function (data, type, row) {
                            return row.Ticket.Subject;
                        }
                    },
                    {
                        "targets": 1,
                        "width": "30%",
                        "render": function (data, type, row) {
                            var percent = row.Frequency;
                            return '<div class="clearfix">'
                                + '<small class="pull-right">' + percent + '%</small>'
                                + '</div>'
                                + '<div class="progress xs">'
                                + '<div class="progress-bar progress-bar-blue" style="width: ' + percent + '%;"></div>'
                                + '</div>';
                        }
                    },
                    {
                        "targets": 2,
                        "sortable": false,
                        "width": "10%",
                        "render": function (data, type, row) {
                            return '<a href="/KnowledgeBase/Create/' + row.Ticket.ID + '" class="btn btn-flat btn-primary">Add Solution</a>';
                        }
                    }
                ]
            });
        }

        $("#frequently-asked-tickets-time-option-select").on("change", function () {
            $("#frequently-asked-tickets-table").dataTable().api().ajax.reload();
        });

        var showFrequentlyAskedTickets = function () {
            $("#frequently-asked-tickets-table").dataTable().api().ajax.reload();
            $("#frequently-asked-tickets-modal").modal("show");
        }
    </script>
}

