@using TMS.Utils
@{
    ViewBag.Title = "Solutions";
}
@{ 
    if (ViewBag.LayoutRole == ConstantUtil.UserRoleString.HelpDesk)
    {
        Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.LayoutRole == ConstantUtil.UserRoleString.Technician)
    {
        Layout = "~/Areas/Technician/Views/Shared/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    #custom-search-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

        #custom-search-input .glyphicon-search {
            font-size: 15px;
        }

    .box {
        overflow: hidden;
    }

    .left-menu {
        padding: 0;
        height: 100%;
        background: #d9d7d7;
    }
    /*remove list style (circles)*/
    .menu-collapse {
        color: #ccc;
    }
    /*header line style and border*/
    .header {
        color: #fff;
        background-color: #8e8e8e;
        padding: 4px 12px;
    }

    #category-treeview-div {
        min-height: 70vh;
    }

    .questions {
        padding: 0;
        background: #ffffff;
    }

    .header-content {
        color: #666;
        background-color: #E4E4E4;
        padding: 5px 12px 4px 12px;
    }

    .question-row {
        border-bottom: solid 1px #ccc;
        padding: 10px;
        overflow-y: auto;
    }

        .question-row:last-of-type {
            border-bottom: none;
        }

    .question-list {
        height: 70vh;
        overflow-y: auto;
    }

    .question-detail {
        padding: 8px 20px;
        display: none;
    }

    .jstree-node {
        margin-left: 0px !important;
        padding-left: 12px !important;
    }

    .jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
        color: #2c2c2c;
    }

    .jstree-icon {
        /*display: none !important;*/
    }

    li[aria-level="1"] > .jstree-children {
        background-color: #E4E4E4;
        margin-left: -15px !important;
        padding-left: 20px !important;
    }

    .jstree-default .jstree-anchor {
        min-height: 30px;
        line-height: 30px;
    }

    .jstree-anchor {
        width: 150%;
        margin-left: -50%;
        padding-left: 50%;
        white-space: normal !important;
        height: auto !important;
    }

    .jstree-clicked {
        color: #fff !important;
        background: #b6b2b2 !important;
    }

    .button {
        text-align: right;
    }

    .jstree-anchor:hover {
        color: #fff;
        background: #b6b2b2;
    }

    .keywords {
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 5px;
        float: left;
        list-style: none;
    }

        .keywords li {
            float: left;
            margin-right: 1em;
        }

    .key-tags {
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        background-color: #e6e6e6;
        border-left: solid 5px #3393d8;
        color: #191919;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="left-menu col-md-3 menu-collapse">
                <div class="header"><h5>Topic</h5></div>
                <div id="category-treeview-div">

                </div>
            </div>
            <div class="questions col-md-9">
                <div class="header-content col-md-12">
                    <div class="col-md-8">
                        <a class="btn btn-primary btn-flat" href="/KnowledgeBase/Create">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; New solution
                        </a>
                        <a href="javascript:void(0)" class="btn btn-flat btn-info" onclick="showSimilarTicketFrequencyModal();">Similar ticket frequency</a>
                        <a class="btn btn-default btn-flat" href="javascript:void{0}"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="box-tools pull-right col-md-4">
                        <div class="has-feedback">
                            <input type="text" id="key_search" class="form-control input" placeholder="Search solution..." />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="question-list col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="similar-ticket-frequency-modal" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Similar Ticket Frequency</h4>
            </div>
            <div class="modal-body">
                <div class="pull-right">
                    <select id="similar-ticket-time-option-select">
                        <option value="1">Today</option>
                        <option value="2">4 Days ago</option>
                        <option value="3" selected>This Week</option>
                        <option value="4">This Month</option>
                        <option value="5">This Year</option>
                    </select>
                </div>
                <table class="table dataTable" id="similar-ticket-frequency-table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Frequency</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script>
        var sum = 0;

        $(document).ready(function () {
            notifyFlashMessage();
            showTreeViewModal();
            getAllSolution();
            initSimilarTicketFrequencyTable();
            $(".menu-item").click(function () {

                //if submenu is hidden, does not have active class
                if (!$(this).hasClass("active")) {

                    // hide any open menus and remove active classes
                    $(".menu-list").slideUp(350);
                    $(".menu-item").removeClass("active");

                    // open submenu and add the active class
                    $(this).next("div").slideDown(350);
                    $(this).addClass("active");

                    //if submenu is visible
                } else if ($(this).hasClass("active")) {

                    //hide submenu and remove active class
                    $(this).removeClass("active");
                    $(this).next("div").slideUp(350);
                }
            });

            $(".question-list").on("click", ".question-title", function () {

                // if submenu is hidden, does not have active class
                if (!$(this).hasClass("active")) {

                    // hide any open menus and remove active classes
                    $(".question-detail").slideUp(400);
                    $(".question-title").removeClass("active");

                    // open submenu and add the active class
                    $(this).closest('.question-row').find('.question-detail').slideToggle(400);
                    $(this).addClass("active");

                    //if submenu is visible
                } else if ($(this).hasClass("active")) {

                    //hide submenu and remove active class
                    $(this).removeClass("active");
                    $(this).closest('.question-row').find('.question-detail').slideToggle(400);
                }
            });
            $('#create-solution-form textarea').wysihtml5();
        });

        var showTreeViewModal = function () {
            $("#category-treeview-div").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "stripes": false,
                        "icons": false,
                        "dots": false
                    },
                    "data": {
                        "url": "/KnowledgeBase/GetCategoryTreeViewData",
                        "type": "GET",
                        "contentType": "application/json; charset=utf-8",
                        "dataFilter": function (json) {
                            var data = $.parseJSON(json);
                            var nodes = [];
                            for (i = 0; i < data.data.length; i++) {
                                var dataItem = data.data[i];
                                var node = {
                                    id: dataItem.ID,
                                    parent: dataItem.ParentId == null ? "#" : dataItem.ParentId,
                                    text: dataItem.Name,
                                    state: {
                                        'opened': false,
                                        'selected': false
                                    },
                                    li_attr: {
                                        "style": ""
                                    },
                                    a_attr: {
                                        "data-id": dataItem.ID,
                                        "class": "category-node"
                                    }
                                };
                                nodes.push(node);
                            }
                            return JSON.stringify(nodes);
                        }
                    }
                },
            });
        };

        function getAllSolution() {
            $.ajax({
                url: "/KnowledgeBase/GetSolutions/",
                type: "GET",
                data: {
                    key_search: $("#key_search").val()
                },
                success: function (data) {
                    $(".question-list").empty();
                    if (data.data.length == 0) {
                        $(".question-list").append("<div class='col-sm-12' style='text-align:center'><p>There is no solution to display. </p></div>");
                    } else {
                        for (i = 0; i < data.data.length; i++) {
                            var content = data.data[i].Content;
                            content = $.truncate(content, {
                                length: 350,
                            });
                            var sId = data.data[i].ID;
                            var keywordTags = (data.data[i].Keyword).split(',');
                            $(".question-list").append(
                             '<div class="question-row"><div class="question-header col-lg-10"><input type="checkbox" data-id="' + sId + '/>'
                             + '&nbsp;&nbsp;<a class="question-title" href="javascrip:void{0}"> ' + data.data[i].Subject + '</a>'
                             + '</div><div class="col-lg-2 button"><a class="btn-sm btn-success" href="/FAQ/Detail?Path=' + data.data[i].Path + '"><i class="fa fa-eye"></i></a>'
                             + '&nbsp;&nbsp;<a class="btn-sm btn-primary" href="/KnowledgeBase/Edit/' + sId + '"><i class="fa fa-pencil"></i></a></div>'
                             + '<div class="question-detail col-sm-12">'
                             + '<p><i class="fa fa-calendar"></i>&nbsp;Created time: ' + formatDateTime(new Date(parseInt(data.data[i].CreatedTime.substr(6)))) + '</p>'
                             + content + '<a href="/FAQ/Detail?Path=' + data.data[i].Path + '">...Continue Reading</a>'
                             + '<p><ul class="keywords" id="keyword' + sId + '"></ul></p></div></div>');
                            $("#keyword" + sId).empty();
                            if (data.data[i].Keyword != "-") {
                                $("#keyword" + sId).append("<li style='padding: 5px 0px'>Keywords: </li>");
                                for (j = 0; j < keywordTags.length; j++) {
                                    var key = keywordTags[j].replace(/"/g, '');
                                    $("#keyword" + sId).append("<li><div class='key-tags'><span>" + key + "<span><div></li>");
                                }
                            } else {
                                $("#keyword" + sId).append("<li>Keywords: -</li>");
                            }
                            $(".question-list").find('img').hide();
                        }
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                }
            });
        }

        function getSolutionsByActiveNode(id) {
            $.ajax({
                url: "/KnowledgeBase/GetSolutionsByCategory/",
                type: "GET",
                data: {
                    id: id,
                    key_search: $("#key_search").val()
                },
                success: function (data) {
                    $(".question-list").empty();
                    if (data.data.length == 0) {
                        $(".question-list").append("<div class='col-sm-12' style='text-align:center'><p>There is no solution to display. </p></div>");
                    } else {
                        for (i = 0; i < data.data.length; i++) {
                            var content = data.data[i].Content;
                            content = $.truncate(content, {
                                length: 350,
                            });
                            var sId = data.data[i].ID;
                            var keywordTags = (data.data[i].Keyword).split(',');
                            $(".question-list").append(
                             '<div class="question-row"><div class="question-header col-lg-10"><input type="checkbox" />'
                             + '<a class="question-title" href="javascrip:void{0}"> ' + data.data[i].Subject + '</a>'
                             + '</div><div class="col-lg-2 button"><a class="btn-sm btn-success" href="/FAQ/Detail?Path=' + data.data[i].Path + '"><i class="fa fa-eye"></i></a>'
                             + '&nbsp;&nbsp;<a class="btn-sm btn-primary" href="/KnowledgeBase/Edit/' + sId + '"><i class="fa fa-pencil"></i></a></div>'
                             + '<div class="question-detail col-sm-12">'
                             + '<p><i class="fa fa-calendar"></i>&nbsp;Created time: ' + formatDateTime(new Date(parseInt(data.data[i].CreatedTime.substr(6)))) + '</p>'
                             + content + '<a href="/FAQ/Detail?Path=' + data.data[i].Path + '">...Continue Reading</a>'
                             + '<p><ul class="keywords" id="keyword' + sId + '"></ul></p></div></div>');
                            $("#keyword" + sId).empty();
                            if (data.data[i].Keyword != "-") {
                                $("#keyword" + sId).append("<li style='padding: 5px 0px'>Keywords: </li>");
                                for (j = 0; j < keywordTags.length; j++) {
                                    var key = keywordTags[j].replace(/"/g, '');
                                    $("#keyword" + sId).append("<li><div class='key-tags'><span>" + key + "<span><div></li>");
                                }
                            } else {
                                $("#keyword" + sId).append("<li>Keywords: -</li>");
                            }
                            $(".question-list").find('img').hide();
                        }
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                }
            });
        }

        function setQuestionListHeight() {
            var contentHeight = $("#category-treeview-div").height();
            $(".question-list").css("height", contentHeight);
        }

        function deleteSolutions(id) {
            var selectedSolutions = [];
            $('input[type="checkbox"]').each(function (index, element) {
                var id = $(element).attr("data-id");
                if (selectedSolutions.indexOf(id) != -1) {
                    $(element).prop("checked", true);
                }
            });

            $.ajax({
                url: "/KnowledgeBase/Delete/",
                type: "POST",
                data: {
                    selectedSolutions: selectedSolutions
                },
                success: function (data) {
                    if (!data.success) {
                        noty({
                            text: data.msg,
                            layout: "topCenter",
                            type: "error",
                            timeout: 2000
                        });
                    } else {
                        noty({
                            text: data.msg,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                    }
                },
                error: function (data) {
                    noty({
                        text: "Cannot connect to server! Please try again later!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2500
                    });
                }
            });
        }

        $("#key_search").on("keyup", function () {
            if ($("#category-treeview-div .category-node").hasClass("jstree-clicked")) {
                getSolutionsByActiveNode($(".jstree-clicked").attr("data-id"));
            }
            else {
                getAllSolution();
            }
        });

        $("#category-treeview-div").on("click", ".category-node", function () {
            getSolutionsByActiveNode($(this).attr("data-id"));
        });

        $("#category-treeview-div").on("after_open.jstree", function () {
            setQuestionListHeight();
        });

        $("#category-treeview-div").on("after_close.jstree", function () {
            setQuestionListHeight();
        });

        $('#category-treeview-div').on("select_node.jstree", function (e, data) {
            data.instance.toggle_node(data.node);
        });

        var initSimilarTicketFrequencyTable = function () {
            $("#similar-ticket-frequency-table").dataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                filter: false,
                lengthMenu: [5],
                order: [[1, 'desc']],
                lengthChange: false,
                ajax: {
                    url: "/KnowledgeBase/GetSimilarTicketFrequency",
                    data: function (d) {
                        d.timeOption = $("#similar-ticket-time-option-select").val()
                    }
                },
                autoWidth: false,
                columnDefs: [
                    {
                        "targets": 0,
                        "width": "50%",
                        "render": function (data, type, row) {
                            return row.Subject;
                        }
                    },
                    {
                        "targets": 1,
                        "width": "40%",
                        "render": function (data, type, row) {
                            var percent = parseInt(row.Count / sum * 100);
                            return '<div class="clearfix">'
                                + '<small class="pull-right">' + row.Count + '/' + sum + '</small>'
                                + '</div>'
                                + '<div class="progress xs">'
                                + '<div class="progress-bar progress-bar-blue" style="width: ' + percent + '%;"></div>'
                                + '</div>';
                        }
                    },
                    {
                        "targets": 2,
                        "sortable": false,
                        "width": "10%",
                        "render": function (data, type, row) {
                            return '<a href="/KnowledgeBase/Create?Subject=' + row.Subject + '" class="btn btn-flat btn-primary">Create Solution</a>';
                        }
                    }
                ]
            });
        }

        $('#similar-ticket-frequency-table').on('xhr.dt', function (e, settings, json, xhr) {
            sum = json.totalTicket;
        });

        $("#similar-ticket-time-option-select").on("change", function () {
            $("#similar-ticket-frequency-table").dataTable().api().ajax.reload();
        });

        var showSimilarTicketFrequencyModal = function () {
            $("#similar-ticket-frequency-table").dataTable().api().ajax.reload();
            $("#similar-ticket-frequency-modal").modal("show");
        }
    </script>
}

