@{
    ViewBag.Title = "Manage Help Desks";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <a href="/Admin/ManageUser/CreateHelpDesk" class="btn btn-flat btn-primary"><i class="fa fa-plus"></i> New Help Desk</a>
                <div class="pull-right" style="margin-right: 20px">
                    <label>Availability:</label>
                    <select id="availability-dropdown">
                        <option value="2">All</option>
                        <option value="1">Enabled Help Desks</option>
                        <option value="0">Disabled Help Desks</option>
                    </select>&nbsp;&nbsp;
                    <label>Search:</label>
                    <input type="text" id="search-txt" />
                </div>
                <table class="table dataTable" id="helpdesk-table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Birthday</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        var initDataTable = function () {
            $("#helpdesk-table").DataTable({
                serverSide: true,
                sort: true,
                processing: true,
                fnDrawCallback: function () {
                    $('.toggle').bootstrapToggle();
                },
                //lengthMenu: [10, 20, 50],
                lengthMenu: [8],
                lengthChange: false,
                filter: false,
                language: {
                    infoFiltered: ""
                },
                ajax: {
                    url: "/Admin/ManageUser/GetHelpDesks",
                    data: function (d) {
                        d.availability_select = $("#availability-dropdown").val(),
                        d.search_text = $("#search-txt").val()
                    }
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "render": function (data, type, row) {
                            return row[1];
                        }
                    },
                    {
                        "targets": [1],
                        "render": function (data, type, row) {
                            return row[2];
                        }
                    },
                    {
                        "targets": [2],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return row[3];
                        }
                    },
                    {
                        "targets": [3],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return row[4];
                        }
                    },
                    {
                        "targets": [4],
                        "sortable": false,
                        "render": function (data, type, row) {
                            if (row[5] == true) {
                                return '<input type="checkbox" checked data-toggle="toggle" class="toggle" data-onstyle="success" onchange="toggleStatus(\'' + row[0] + '\')">';
                            } else {
                                return '<input type="checkbox" data-toggle="toggle" class="toggle" data-onstyle="success" onchange="toggleStatus(\'' + row[0] + '\')">';
                            }
                        }
                    },
                    {
                        "targets": [5],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return '<a href="/Admin/ManageUser/EditHelpDesk/' + row[0] + '" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>';
                        }
                    }
                ]
            })
        };

        var reloadDataTable = function () {
            var oTable = $("#helpdesk-table").dataTable();
            oTable.api().ajax.reload();
        };

        $(document).ready(function () {
            initDataTable();
        });

        $("#search-txt").keyup(function () {
            reloadDataTable();
        });

        $("#availability-dropdown").change(function () {
            reloadDataTable();
        });

        var toggleStatus = function (id) {
            $.ajax({
                url: "/Admin/ManageUser/ToggleStatus",
                data: {
                    id: id
                },
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $("#helpdesk-table").dataTable().api().ajax.reload(null, false);
                    } else {
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                }
            });
        };
    </script>
}
