@model IEnumerable<TMS.Models.AspNetUser>

@{
    ViewBag.Title = "Manage Requesters";
    Layout = "~/Views/Shared/TMSLayout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <p>@Html.ActionLink("Create New", "CreateRequester", null, new { @class = "btn btn-success" })</p>
                    <table class="table table-bordered table-striped dataTable" id="requester-table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Birthday</th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        var initDataTable = function () {
            $("#requester-table").DataTable({
                //"bRetrieve": true,
                serverSide: true,
                //"bScrollCollapse": true,
                sort: true,
                ajax: {
                    url: "/Admin/ManageUser/GetRequesters",
                    data: {
                        email_search_key: $("#email-search-txt").val()
                    }
                },
                processing: true,
                //fnServerParams: function (aoData) {
                //    aoData.push({ 'name': 'email_search_key', 'value': $("#email-search-txt").val() });
                //},
                fnDrawCallback: function () {
                    $('.toggle').bootstrapToggle();
                },
                lengthMenu: [10, 20, 50],
                columnDefs: [
                    {
                        "targets": [0],
                        "render": function (data, type, row) {
                            return row[1];
                        }
                    },
                    {
                        "targets": [1],
                        "render": function (data, type, row) {
                            return row[2];
                        }
                    },
                    {
                        "targets": [2],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return row[3];
                        }
                    },
                    {
                        "targets": [3],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return row[4];
                        }
                    },
                    {
                        "targets": [4],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return '<input type="checkbox" checked data-toggle="toggle" class="toggle" data-onstyle="success">';
                        }
                    },
                    {
                        "targets": [5],
                        "sortable": false,
                        "render": function (data, type, row) {
                            return '<a href="/Admin/ManageUser/EditRequester/' + row[0] + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp&nbsp'
                            + '<a href="javascript:void(0)" onclick="removeRequester(\'' + row[0] + '\')"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })
        };

        var reloadDataTable = function () {
            var oTable = $("#requester-table").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        };

        $(document).ready(function () {
            initDataTable();
        });

        $("#email-search-txt").keyup(function () {
            reloadDataTable();
        });

        var removeRequester = function (id) {
            $.ajax({
                url: "/Admin/ManageUser/RemoveRequester",
                data: {
                    id: id
                },
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        reloadDataTable();
                    }
                }
            });
        };
    </script>
}
