@{
    ViewBag.Title = "Priority";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/spectrum.css" />
<style>
    td > canvas {
        vertical-align: middle;
        margin-right: 10px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <button type="button" class="btn btn-flat btn-primary" data-target="#myModal" onclick="showCreateModal()"><i class="fa fa-plus"></i>&nbsp;New Priority</button>
                <table class="table dataTable" id="priority-table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Priority</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name&nbsp;<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Name" id="name-txt">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Color&nbsp;<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="color-txt">
                        </div>
                    </div>
                    <div class="form-group">
                        <labeL class="col-sm-2 control-label">Description</labeL>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" placeholder="Description" id="description-txt"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-sm-10">
                            <p id="name-validation-message" class="text-danger" style="display: none"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="create-btn" onclick="createPriority()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal" id="delete-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="yes-btn">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script src="~/Content/js/spectrum.js"></script>
    <script>
        $(document).ready(function () {
            $("#color-txt").spectrum({
                preferredFormat: "hex",
                showInput: true,
                showPalette: true,
                palette: [["red", "rgba(0, 255, 0, .5)", "rgb(0, 0, 255)"]]
            });
        });

        $("#priority-table")
            .DataTable({
                processing: true,
                serverSide: true,
                lengthChange: false,
                paging: false,
                sort: false,
                filter: false,
                ajax: {
                    url: "/Manager/ManageSC/GetPriority"
                },
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return row[1];
                        },
                        "targets": 0,
                        "type": "date"
                    },
                    {
                        "render": function (data, type, row) {
                            return row[2];
                        },
                        "targets": 1
                    },
                    {
                        "render": function (data, type, row) {
                            return '<canvas id="priority-color" width="15" height="15" style="background: ' + row[3] + ';"></canvas>' + row[3];
                        },
                        "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0)" class="btn btn-xs btn-primary" data-toggle="modal" onclick="getPriorityDetail(\'' + row[0] + '\')"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;' +
                                   '<a href="javascript:void(0)" class="btn btn-xs btn-primary" onclick="showDeleteModal(\'' + row[0] + '\')"><i class="fa fa-trash-o"></i></a>';
                        },
                        "targets": 3
                    }
                ]
            });
        var reloadDataTable = function () {
            var oTable = $("#priority-table").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        };

        var clearModal = function () {
            $("#myModal").find("input").val("");
            $("#myModal").find("textarea").val("");
            $(".text-danger").hide();
        }

        var showCreateModal = function () {
            clearModal();
            $("#myModal").modal('show');
            $('#create-btn').attr('onclick', 'createPriority()');
        };

        var createPriority = function () {
            $.ajax({
                url: "/Manager/ManageSC/CreatePriority",
                dataType: "json",
                type: "POST",
                data: {
                    Name: $("#name-txt").val(),
                    Description: $("#description-txt").val(),
                    Color: $("#color-txt").val()
                },
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $("#myModal").modal("hide");
                        reloadDataTable();
                    } else {
                        $("#name-validation-message").html(data.message);
                        $("#name-validation-message").show();
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        layout: "topRight",
                        type: "error",
                        timeout: 2000
                    });
                }
            });
        }

        var getPriorityDetail = function (id) {
            clearModal();
            $.ajax({
                url: "/Manager/ManageSC/GetPriorityDetail",
                dataType: "json",
                type: "GET",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        $("#myModal").modal("show");
                        $("#name-txt").val(data.name);
                        $("#description-txt").val(data.description);
                        $("#create-btn").attr("onclick", "editPriority('" + id + "')");
                    } else {
                        if (data.error) {
                            noty({
                                text: data.message,
                                type: "error",
                                layout: "topRight",
                                timeout: 2000
                            });
                        }
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        layout: "topRight",
                        type: "error",
                        timeout: 2000
                    });
                }
            });
        }

        var editPriority = function (id) {
            $.ajax({
                url: "/Manager/ManageSC/EditPriority",
                dataType: "json",
                type: "POST",
                data: {
                    id: id,
                    Name: $("#name-txt").val(),
                    Description: $("#description-txt").val(),
                    Color: $("#color-txt").val()
                },
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $("#myModal").modal("hide");
                        reloadDataTable();
                    } else {
                        $("#name-validation-message").html(data.message);
                        $("#name-validation-message").show();
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        layout: "topRight",
                        type: "error",
                        timeout: 2000
                    });
                }
            });
        }

        var showDeleteModal = function (id) {
            $("#yes-btn").attr("onclick", "deletePriority('" + id + "')");
            $("#delete-modal").modal("show");
        };

        var deletePriority = function (id) {
            $.ajax({
                url: "/Manager/ManageSC/DeletePriority",
                dataType: "json",
                type: "POST",
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $("#delete-modal").modal("hide");
                        reloadDataTable();
                    } else {
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                        $("#delete-modal").modal("hide");
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2000
                    });
                }
            });
        };
    </script>
}