@{
    ViewBag.Title = "Urgency";
    Layout = "~/Areas/Manager/Views/Shared/_TopLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <button type="button" class="btn btn-flat btn-primary" onclick="showCreateModal()"><i class="fa fa-plus"></i>&nbsp;New Urgency</button>
                <table class="table dataTable" id="urgency-table" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Urgency</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name&nbsp;<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Name" id="name-txt">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" placeholder="Description" id="description-txt"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p id="name-validation-message" class="text-danger" style="display: none"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="create-btn" onclick="createUrgency()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal" id="delete-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="yes-btn"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            reloadDataTable();
        });

        $("#urgency-table")
            .DataTable({
                processing: true,
                serverSide: true,
                lengthChange: false,
                filter: false,
                paging: true,
                sort: false,
                ajax: {
                    url: "/Manager/ManageSC/GetUrgency"
                },
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return row[1];
                        },
                        "targets": 0,
                        "type": "date"
                    },
                    {
                        "render": function (data, type, row) {
                            return row[2];
                        },
                        "targets": 1
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0)" class="btn btn-xs btn-primary" data-toggle="modal" onclick="getUrgencyDetail(\'' + row[0] + '\')"><i class = "fa fa-pencil"></i></a>&nbsp;&nbsp;' +
                                '<a href="javascript:void(0)" class="btn btn-xs btn-primary" onclick="showDeleteModal(\'' + row[0] + '\')"><i class="fa fa-trash-o"></i></a>';
                        },
                        "targets": 2
                    }
                ]
            });
        var reloadDataTable = function () {
            var oTable = $("#urgency-table").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        };

        var clearModal = function () {
            $("#myModal").find("input").val("");
            $("#myModal").find("textarea").val("");
            $(".text-danger").hide();
        }

        var showCreateModal = function () {
            clearModal();
            $("#myModal").modal('show');
            $('#create-btn').attr('onclick', 'createUrgency()');
        };

        var createUrgency = function () {
            $.ajax({
                url: "/Manager/ManageSC/CreateUrgency",
                dataType: "json",
                type: "POST",
                data: {
                    name: $("#name-txt").val(),
                    description: $("#description-txt").val()
                },
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $("#myModal").modal("hide");
                        reloadDataTable();
                    } else {
                        $("#name-validation-message").html(data.message);
                        $("#name-validation-message").show();
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        layout: "topRight",
                        type: "error",
                        timeout: 2000
                    });
                }
            });
        }

        var getUrgencyDetail = function (id) {
            clearModal();
            $.ajax({
                url: "/Manager/ManageSC/GetUrgencyDetail",
                dataType: "json",
                type: "GET",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        $("#myModal").modal("show");
                        $("#name-txt").val(data.name);
                        $("#description-txt").val(data.description);
                        $("#create-btn").attr("onclick", "editUrgency('" + id + "')");
                    } else {
                        if (data.error) {
                            noty({
                                text: data.message,
                                type: "error",
                                layout: "topRight",
                                timeout: 2000
                            });
                        }
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        layout: "topRight",
                        type: "error",
                        timeout: 2000
                    });
                }
            });
        };

        var editUrgency = function (id) {
            $.ajax({
                url: "/Manager/ManageSC/EditUrgency",
                dataType: "json",
                type: "POST",
                data: {
                    id: id,
                    name: $("#name-txt").val(),
                    description: $("#description-txt").val()
                },
                success: function (data) {
                    if (data.success) {
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        $("#myModal").modal("hide");
                        reloadDataTable();
                    } else {
                        $("#name-validation-message").html(data.message);
                        $("#name-validation-message").show();
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        layout: "topRight",
                        type: "error",
                        timeout: 2000
                    });
                }
            });
        }

        var showDeleteModal = function (id) {
            $("#yes-btn").attr("onclick", "deleteUrgency('" + id + "')");
            $("#delete-modal").modal("show");
        };

        var deleteUrgency = function (id) {
            $.ajax({
                url: "/Manager/ManageSC/DeleteUrgency",
                dataType: "json",
                type: "post",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        $("#delete-modal").modal("hide");
                        noty({
                            text: data.message,
                            layout: "topCenter",
                            type: "success",
                            timeout: 2000
                        });
                        reloadDataTable();
                    } else if (!data.success) {
                        $("#delete-modal").modal("hide");
                        noty({
                            text: data.message,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                    }
                },
                error: function () {
                    noty({
                        text: "Cannot connect to server!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2000
                    });
                }
            });
        }


    </script>
}

