@{
    Layout = "~/Views/Shared/TMSRequesterLayout.cshtml";
}
@{
    ViewBag.Title = "Edit Profile";
}

<style>
    .inputform {
        padding: 20px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal inputform">
                <div class="form-group">
                    <label class="control-label col-md-2">Username</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="thynh1610@gmail.com" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="thynh1610@gmail.com" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Fullname</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="Nguyen Hoang Thy" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="Quan 3 Thanh pho Ho Chi Minh" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Phone</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="0987654321" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Birthday</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="16/10/1994" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Gender</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female" selected="selected">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Job title</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="Student" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Department</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="Software Engineer" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Company name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="FPT University" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Company address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="To Ky Quan 12 TPHCM" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a class="btn btn-primary" href="#">Update</a>
                        <a class="btn btn-default" href="@(Url.Action("Index", "Profile"))">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
