@{
    Layout = "~/Views/Shared/TMSRequesterLayout.cshtml";
}
@{
    ViewBag.Title = "Hello, Requester!";
}

<style>
    .menu-item {
        display: table;
        text-align: center;
        position: relative;
        height: 250px;
    }

        .menu-item a {
            color: #2a2a2a;
            display: table-cell;
            vertical-align: middle;
            transition: all .2s ease-in-out;
        }

            .menu-item a:hover {
                color: #1074bd;
                transform: scale(1.05);
            }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="col-sm-6 menu-item">
                    <a href="@(Url.Action("Create", "Ticket"))">
                        <i class="fa fa-tag fa-5x"></i>
                        <br />
                        <h3>Send Ticket</h3>
                        Click here to send a ticket to help desk.
                    </a>
                </div>
                <div class="col-sm-6 menu-item">
                    <a href="@(Url.Action("Index", "Ticket"))">
                        <i class="fa fa-tags fa-5x"></i>
                        <br />
                        <h3>View Ticket List</h3>
                        Click here to view your ticket.
                    </a>
                </div>
                <div class="col-sm-6 menu-item">
                    <a href="@(Url.Action("Index", "Profile"))">
                        <i class="fa fa-user fa-5x"></i>
                        <br />
                        <h3>View Profile</h3>
                        Click here to view and edit your profile.
                    </a>
                </div>
                <div class="col-sm-6 menu-item">
                    <a href="@(Url.Action("Index", "FAQ"))">
                        <i class="fa fa-question-circle fa-5x"></i>
                        <br />
                        <h3>FAQ</h3>
                        See Frequently Asked Questions.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

