body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

.content-wrapper {
    min-height: 600px;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 300px;*/
}

.profile-avatar {
    width: 80%;
    min-height: 250px;
    margin: 10px auto;
    border: 1px dashed gray;
    border-radius: 10px;
}

.page-header-custom {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-left: 20px double green;
    background-color: white;
    vertical-align: middle;
}

    .page-header-custom * {
        margin: 0px;
    }

.large-text-container * {
    font-size: 16px;
}

.wrapper {
    display: table;
    width: 100%;
}

body {
    overflow: unset;
}

.dataTable {
    width: 100% !important;
}

.margin-left10 {
    margin-left: 10px;
}

td.details-control {
    background: url(img/details_open.png) no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url(img/details_close.png) no-repeat center center;
}

.dataTable {
    vertical-align: middle;
}

.tagit-label {
    font-weight: bold;
    color: #0073ea;
}

.keywords {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
    float: left;
    list-style: none;
}

    .keywords li {
        float: left;
        margin-right: 1em;
    }

.key-tags {
    /*position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        background-color: #e6e6e6;
        border-left: solid 5px #3393d8;
        color: #191919;
        margin: 5px 0px;*/
    position: relative;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    background-color: #dee9ff;
    border: 1px solid #d9dfe9;
    border-radius: 10px;
    color: #191919;
    margin: 2px 0px 6px;
}
